{% block blur_elysium_device_switch %}
    <div :style="containerStyle">

        <div v-for="viewport in viewports"
            :style="[itemStyle, conditionalItemStyle(viewport)]"
            @click="changeViewport(viewport)">

            <sw-icon 
                :name="`regular-${viewport}`" 
                size="20"
                :color="viewport === activeViewport ? '#3498db' : '#758CA3'" />

            <span :style="{
                    fontSize: '14px',
                    fontWeight: '500'
                }"
                v-if="showLabels === true"
                v-html="$tc(`blurElysiumBlock.deviceName.${viewport}`)" />
        </div>
    </div>
{% endblock %}