{% block cms_block_blur_elysium_slider_block %}
    <div class="sw-cms-block-blur-elysium-slider-block">
        <slot name="main">{% block cms_block_blur_elysium_slider_block_main_slot %}{% endblock %}</slot>
    </div>
{% endblock %}
