{% block blur_elysium_slide_settings_advanced %}
    <div>
        <template 
            v-if="loading.slide">

            {% block blur_elysium_slide_settings_advanced_card_loading %}
                <blur-card-loading />
            {% endblock %}
        </template>
        <template
            v-else-if="slide">

            {% block blur_elysium_slide_settings_advanced_slide_template %}
                <sw-card 
                    :title="$tc('blurElysiumSlides.slideSettings.slideTemplate.cardTitle')"
                    :position-identifier="positionIdentifiers.detail.slideTemplate"
                    v-if="slide.slideSettings">

                    {% block blur_elysium_slide_settings_advanced_slide_template_selection %}
                        <blur-elysium-slide-template-selection 
                            :disabled="!editable"
                            :value="slide.slideSettings?.slideTemplate"
                            @change="value => setSlideSetting({key:'slideTemplate', value: value})" />
                    {% endblock %}
                </sw-card>
            {% endblock %}

            {% block blur_elysium_slide_settings_advanced_custom_template %}
                <sw-card 
                    :title="$tc('blurElysiumSlides.slideSettings.customTemplate.cardTitle')"
                    :position-identifier="positionIdentifiers.detail.customTemplate"
                    v-if="slide.slideSettings">

                    <sw-container 
                        gap="1rem"
                        columns="1fr">
                        <p v-html="$tc('blurElysiumSlides.slideSettings.customTemplate.cardDescription')" />
                        <sw-text-field 
                            :disabled="!editable"
                            :value="slide.slideSettings.customTemplateFile"
                            :placeholder="$tc('blurElysiumSlides.slideSettings.customTemplate.customTemplateFile.placeholder')" 
                            @input="value => setSlideSetting({key:'customTemplateFile', value: value})" />
                    </sw-container>

                    <div 
                        v-if="slide.slideSettings.customTemplateFile"
                        v-html="$t('blurElysiumSlides.slideSettings.customTemplate.customTemplatePath', { file: slide.slideSettings.customTemplateFile } )" />
                </sw-card>
            {% endblock %}

            {% block blur_elysium_slide_settings_advanced_custom_fields %}
                <sw-card 
                    :position-identifier="positionIdentifiers.detail.customFields"
                    :title="$tc('BlurElysiumSlides.customFields.cardTitle')">

                    <template
                        v-if="customFieldSets">

                        <sw-custom-field-set-renderer
                            v-if="hasCustomFields"
                            :entity="slide"
                            :sets="customFieldSets">
                        </sw-custom-field-set-renderer>

                        <sw-alert v-else variant="warning" appearance="default" :showIcon="true" :closable="false">
                            {{ $tc('BlurElysiumSlides.customFields.emptyFieldSet') }}
                        </sw-alert>
                    </template>
                    <template
                        v-else>
                        No custom fieldset for Elysium Slides
                    </template>
                </sw-card>
            {% endblock %}
        </template>
    </div>
{% endblock %}