{% block blur_cms_element_elysium_slider_preview %}
    <div class="blur-cms-el-preview-elysium-slider">
        <img class="blur-cms-el-preview-elysium-slider__preview-image"
             :src="'blurelysiumslider/static/img/component-preview-image.svg' | asset">
    </div>
{% endblock %}