{% block blur_cms_element_elysium_slider_preview %}
    <div class="blur-cms-element-preview">
        <img class="blur-cms-el-preview-elysium-slider__preview-image blur-cms-element-preview-image"
             :src="'blurelysiumslider/static/img/cms-slider-element-preview.svg' | asset">
    </div>
{% endblock %}