{% block blur_cms_element_elysium_slider_preview %}
    <div class="blur-cms-el-preview-elysium-slider">
        <img class="sw-cms-el-preview-dailymotion-img"
             :src="'blurelysiumblocks/static/img/test.svg' | asset">
    </div>
{% endblock %}