.bc-card {
    margin-bottom: 2rem;

    .sw-card__content {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &.bc-card__static-title {

        .sw-card__title {
            position: static;
            width: auto;
            text-align: left;
        }
    }
}

.bc-field__no-margin {
    margin: 0;
}

.bc-field__px-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}