<sw-select-field 
    :value="value"
    @update:value="update">
    <template #label>
        <span 
            :style="{
                display: 'flex',
                alignItems: 'center',
                gap: '8px'
            }">

            <blur-icon 
                v-tooltip="{
                    message: $tc('blurElysium.messages.deviceSettingNote')
                }"
                :size="14"
                :name="`blurph-device-${device}`" 
                :style="{
                    cursor: 'pointer'
                }" />

            {{$attrs.label}}
        </span>
    </template>
</sw-select-field>