{% block blur_cms_block_elysium_block_two_col_preview %}
    <div class="sw-cms-preview-blur-elysium-block">

        {% block blur_cms_block_elysium_block_two_col_preview_image %}
            <img class="blur-cms-element-preview-image" 
                :src="'blurelysiumslider/static/img/cms-elysium-block-two-col.svg' | asset">
        {% endblock %}
    </div>
{% endblock %}