{% block blur_cms_block_elysium_slider_banner_component %}
    <div 
        class="sw-cms-block-blur-elysium-block two-col"
        :style="{
            gridTemplateColumns: dispayColumns,
            gridGap: displayGridGap,
            alignItems: displayStretch 
        }">
        <slot name="one">{% block blur_cms_block_elysium_block_component_one_slot %}{% endblock %}</slot>
        <slot name="two">{% block blur_cms_block_elysium_block_component_two_slot %}{% endblock %}</slot>
    </div>
{% endblock %}
