{% block sw_search_bar_item_order %}
    {% parent %}

    <router-link v-else-if="type === 'blur_elysium_slides'"
                 v-bind:to="{ name: 'blur.elysium.slides.detail', params: { id: item.id } }"
                 ref="routerLink"
                 class="sw-search-bar-item__link">

        {% block sw_search_bar_item_blur_elysium_slides_label %}
            <span class="sw-search-bar-item__label">
                <sw-highlight-text v-bind:searchTerm="searchTerm"
                                   v-bind:text="item.name">
                </sw-highlight-text>
            </span>
        {% endblock %}
    </router-link>
{% endblock %}