{% block blur_elysium_slide_template_selection %}
    <div>
        <sw-select-field
            :label="$tc('blurElysiumSlides.slideSettings.slideTemplate.label')"
            :options="defaultSlideTemplates"
            :disabled="disabled"
            :value="value"
            @change="onChange">
            <option 
                v-for="template in defaultSlideTemplates" 
                :value="template.value">
                    {{template.label}}
                </option>
        </sw-select-field>
    </div>
{% endblock %}
