<div>
    <sw-upload-listener
        :upload-tag="uploadTag"
        auto-upload
        @media-upload-finish="uploadFinished"
    />
    <sw-media-upload-v2
        variant="regular"
        label="Medium"
        :file-accept="allowedFile"
        :disabled="disabled"
        :upload-tag="uploadTag"
        :source="media"
        :allow-multi-select="false"
        :default-folder="'blur_elysium_slides'"
        @media-drop="mediaDropped"
        @media-upload-remove-image="mediaRemove"
        @media-upload-sidebar-open="mediaSidebarOpen"
    />            
</div>