{% block blur_elysium_block_config %}
    <div>

        <blur-elysium-device-switch 
            layout="tab"
            @change-viewport="changeViewport" />

        <div :style="{
                padding: '25px'
            }">

            <sw-container 
                columns="1fr 1fr"
                gap="1rem">

                <sw-number-field
                    numberType="int"
                    :label="$tc('blurElysiumBlock.settings.columnWidth.colOneLabel')"
                    :min="1"
                    :step="1"
                    :style="{
                        margin: '0'
                    }"
                    v-model="settings.viewports[activeViewport].width.colOne" />

                <sw-number-field
                    numberType="int"
                    :label="$tc('blurElysiumBlock.settings.columnWidth.colTwoLabel')"
                    :min="1"
                    :step="1"
                    :style="{
                        margin: '0'
                    }"
                    v-model="settings.viewports[activeViewport].width.colTwo "/>

                <div
                    :style="{
                        gridColumn: '1 / 3'
                    }">

                    <sw-text-field 
                        :label="$tc('blurElysiumBlock.settings.gridGapLabel')"
                        :placeholder="$tc('blurElysiumSlider.general.unitPlaceholderPxRem')"
                        :style="{
                            margin: '0'
                        }"
                        v-model="settings.viewports[activeViewport].gridGap" 
                        />
                </div>
                <div
                    :style="{
                        gridColumn: '1 / 3'
                    }">

                    <sw-switch-field 
                        :label="$tc('blurElysiumBlock.settings.columnWrapLabel')"
                        :style="{
                            margin: '0'
                        }"
                        v-model="settings.viewports[activeViewport].columnWrap" 
                        />

                    <sw-switch-field 
                        :label="$tc('blurElysiumBlock.settings.columnStretchLabel')"
                        :style="{
                            margin: '0'
                        }"
                        v-model="settings.columnStretch" 
                        />
                </div>
            </sw-container>
        </div>

    </div>
{% endblock %}