{% block blur_elysium_slider_config_navigation %}
    <sw-card
        :position-identifier="positionIdentifiers.navigation.DEFAULT">

        {% block blur_elysium_slider_config_navigation_general %}
            <blur-card-section 
                :position-identifier="positionIdentifiers.navigation.sectionGeneral"
                >

                <blur-paragraph 
                    :title="$tc('blurElysiumSlider.general.general')" />

                <sw-container 
                    columns="1fr"
                    gap="24px">

                    {% block blur_elysium_slider_config_navigation_active %}
                        <sw-switch-field 
                            style="margin: 0;"
                            v-model="config.active" 
                            :label="$tc('blurElysiumSlider.config.navigation.active')" />
                    {% endblock %}
                
                    <sw-container 
                        columns="1fr 1fr 1fr"
                        gap="24px"
                        :breakpoints="containerBreakpoints['3col']">

                        {% block blur_elysium_slider_config_navigation_position %}
                            <sw-select-field 
                                :label="$tc('blurElysiumSlider.config.navigation.position.label')"
                                v-model="config.position">
                                <option 
                                    v-for="position in positions" 
                                    :key="position.value" 
                                    :value="position.value">{{position.label}}</option>
                            </sw-select-field>
                        {% endblock %}

                        {% block blur_elysium_slider_config_navigation_align %}
                            <sw-select-field 
                                :label="$tc('blurElysiumSlider.config.navigation.align.label')"
                                v-model="config.align">
                                <option 
                                    v-for="align in aligns" 
                                    :key="align.value" 
                                    :value="align.value">{{align.label}}</option>
                            </sw-select-field>
                        {% endblock %}
                    </sw-container>

                </sw-container>
            </blur-card-section>
        {% endblock %}

        {% block blur_elysium_slider_config_navigation_appearance %}
            <blur-card-section 
                :last="true"
                :position-identifier="positionIdentifiers.navigation.sectionAppearance"
                >

                <blur-paragraph 
                    :title="$tc('blurElysiumSlider.general.appearance')" />

                <sw-container 
                    columns="1fr 1fr 1fr"
                    gap="24px"
                    :breakpoints="containerBreakpoints['3col']">

                    {% block blur_elysium_slider_config_navigation_shape %}
                        <sw-select-field 
                            :label="$tc('blurElysiumSlider.config.navigation.shape.label')"
                            v-model="config.shape">
                            <option 
                                v-for="shape in shapes" 
                                :key="shape.value" 
                                :value="shape.value">{{shape.label}}</option>
                        </sw-select-field>
                    {% endblock %}

                    {% block blur_elysium_slider_config_navigation_sizes %}
                        <sw-select-field 
                            :label="$tc('blurElysiumSlider.config.navigation.size.label')"
                            v-model="viewportConfig.size">
                            <option 
                                v-for="size in sizes" 
                                :key="size.value" 
                                :value="size.value">{{size.label}}</option>
                            <template #hint><blur-elysium-device-hint /></template>
                        </sw-select-field>
                    {% endblock %}

                    {% block blur_elysium_slider_config_navigation_gap %}
                        <sw-number-field 
                            numberType="int"
                            :label="$tc('blurElysiumSlider.config.navigation.navPadding.label')"
                            :step="1"
                            v-model="viewportConfig.gap">
                            <template #suffix>Px</template>
                            <template #hint><blur-elysium-device-hint /></template>
                        </sw-number-field>
                    {% endblock %}

                    {% block blur_elysium_slider_config_navigation_color %}
                        <div style="position:relative;">
                            <sw-colorpicker
                                :label="$tc('blurElysiumSlider.general.color')"
                                v-model="config.colors.default"
                                colorOutput="auto"
                                :alpha="true"
                                :disabled="false"
                                :colorLabels="true"
                                :zIndex="1010">
                            </sw-colorpicker>
                        </div>
                    {% endblock %}

                    {% block blur_elysium_slider_config_navigation_color_active %}
                        <div style="position:relative;">
                            <sw-colorpicker
                                :label="$tc('blurElysiumSlider.general.colorActive')"
                                v-model="config.colors.active"
                                colorOutput="auto"
                                :alpha="true"
                                :disabled="false"
                                :colorLabels="true"
                                :zIndex="1010">
                            </sw-colorpicker>
                        </div>
                    {% endblock %}

                </sw-container>

            </blur-card-section>
        {% endblock %}
    </sw-card>
{% endblock %}