{% block blur_elysium_slides_create %}
    <sw-page class="blur-slysium-slides-create__page">

        {% block blur_elysium_slides_create_header %}
            <template #smart-bar-header>
                <h2>
                    {{ $tc( 'BlurElysiumSlides.actions.createSlide' ) }}
                </h2>
            </template>
        {% endblock %}

        {% block blur_elysium_slides_create_actions %}
            <template slot="smart-bar-actions">

                {% block blur_elysium_slides_create_actions_abort %}
                    <sw-button
                        @click="onCancel"
                    >
                        {{ $tc('sw-product.detail.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                {% block blur_elysium_slides_create_actions_save %}
                    <sw-button-process
                        class="sw-customer-create__save-action"
                        :is-loading="isLoading"
                        :disabled="isLoading"
                        :process-success="isSaveSuccessful"
                        variant="primary"
                        @process-finish="saveFinish"
                        @click.prevent="onSave"
                    >

                        {{ $tc('sw-customer.detail.buttonSave') }}
                    </sw-button-process>                    
                {% endblock %}
            </template>
        {% endblock %}

        {% block blur_elysium_slides_create_language_switch %}
            <template slot="language-switch">
                <sw-language-switch
                    v-tooltip="{ message: $tc('BlurElysiumSlides.actions.createSlideNoLanguageChange') }"
                    disabled
                />
            </template>
        {% endblock %}

        <template #content>
            <div class="blur-slysium-slides-create__main-content">
            
                {% block blur_elysium_slides_create_basic_info_card %}
                    <sw-card
                        :title="$tc('BlurElysiumSlides.baseForm.cardTitle')"
                        :is-loading="isLoading"
                    >

                        {% block blur_elysium_slides_create_base_basic_info_form %}
                            <blur-elysium-slides-basic-form
                                v-if="!isLoading"
                                :blur-elysium-slides="blurElysiumSlides"
                                :allow-edit="acl.can('blur_slides_elysium.editor')"
                            />
                        {% endblock %}

                    </sw-card>
                {% endblock %}

                {% block blur_elysium_slides_create_media_card %}
                    <sw-card
                        :title="$tc('BlurElysiumSlides.mediaForm.cardTitle')"
                        :is-loading="isLoading"
                    >

                        {% block blur_elysium_slides_create_base_media_upload_form %}
                            <sw-upload-listener
                                :upload-tag="blurElysiumSlides.id"
                                auto-upload
                                @media-upload-finish="setMediaItem"
                            />
                            <sw-media-upload-v2
                                :disabled="!acl.can('blur_slides_elysium.editor')"
                                :upload-tag="blurElysiumSlides.id"
                                :source="mediaItem"
                                class="blur-elysium-slides__media-upload"
                                :allow-multi-select="false"
                                variant="regular"
                                :label="$tc('BlurElysiumSlides.mediaForm.uploadInput.title')"
                                :help-text="$tc('BlurElysiumSlides.mediaForm.uploadInput.helpText')"
                                :default-folder="blurElysiumSlides.getEntityName()"
                                @media-drop="onDropMedia"
                                @media-upload-sidebar-open="onOpenMedia"
                                @media-upload-remove-image="onUnlinkMedia"
                            />
                        {% endblock %}

                    </sw-card>
                {% endblock %}

                {% block blur_elysium_slides_create_card_custom_fields %}
                    <sw-card :title="$tc('BlurElysiumSlides.customFields.cardTitle')"
                            :isLoading="isLoading">
                        <sw-alert variant="info" appearance="default" :showIcon="true" :closable="false">
                            {{ $tc('BlurElysiumSlides.customFields.onCreateMessage') }}
                        </sw-alert>
                    </sw-card>
                {% endblock %}
            </div>
        </template>

        <template slot="sidebar">
            <sw-sidebar :propagate-width="true">
                <sw-sidebar-media-item ref="mediaSidebarItem">
                    <template
                        slot="context-menu-items"
                        slot-scope="media"
                    >
                        <sw-context-menu-item @click="setMediaFromSidebar(media.mediaItem)">
                            {{ $tc('BlurElysiumSlides.mediaForm.useAsCover') }}
                        </sw-context-menu-item>
                    </template>
                </sw-sidebar-media-item>
            </sw-sidebar>
        </template> 
    </sw-page>
{% endblock %}