{% block blur_elysium_slides_content_container_card %}
    <sw-card
        :position-identifier="positionIdentifiers.detail.display.container"
        :title="$tc('BlurElysiumSlides.settings.container.title')"
        :is-loading="isLoading"
        v-if="!isLoading && slide.slideSettings"
    >

        {% block blur_elysium_slides_content_container_settings %}
            <sw-container columns="1fr" gap="2rem">

                <sw-container columns="1fr 1fr 1fr" gap="0 1rem">

                    {% block blur_elysium_slides_setting_container_vertical_align %}
                        <sw-select-field 
                            v-if="slide.slideSettings"
                            v-model="slide.slideSettings.containerVerticalAlign"
                            class="bc__my-0"
                            :label="$tc('BlurElysiumSlides.settings.container.verticalAlign.label')">
                            <option value="top">{{ $tc('BlurElysiumSlides.settings.container.verticalAlign.options.top') }}</option>
                            <option value="center">{{ $tc('BlurElysiumSlides.settings.container.verticalAlign.options.center') }}</option>
                            <option value="bottom">{{ $tc('BlurElysiumSlides.settings.container.verticalAlign.options.bottom') }}</option>
                        </sw-select-field>
                    {% endblock %}

                    {% block blur_elysium_slides_setting_container_bg_color %}
                        <sw-colorpicker
                            v-if="slide.slideSettings"
                            v-model="slide.slideSettings.containerBgColor"
                            class="bc-colorpicker bc__my-0"
                            :label="$tc('blurElysiumSlider.general.bgColor')"
                            colorOutput="auto"
                            :alpha="true"
                            :colorLabels="true"
                            :zIndex="100">
                        </sw-colorpicker>
                    {% endblock %}

                    {% block blur_elysium_slides_setting_container_padding %}
                        <sw-field
                            type="text"
                            class="bc__my-0"
                            v-model="slide.slideSettings.containerPadding" 
                            :label="$tc('blurElysiumSlider.general.padding')"
                            />
                    {% endblock %}
                </sw-container>

                <div>
                    {% block blur_elysium_slides_container_box_mode_headline %}
                        <h4 class="bc-base__card-headline">
                            {{ $tc('BlurElysiumSlides.settings.container.boxMode.title') }}
                            <sw-help-text 
                                :text="$tc('BlurElysiumSlides.settings.container.boxMode.helpText')"
                                :width="400"
                            />
                            </sw-help-text>
                        </h4>
                    {% endblock %}

                    <sw-container columns="auto 1fr 1fr" gap="0 1rem">
                        {% block blur_elysium_slides_setting_container_box_mode %}
                            <sw-switch-field 
                                :label="$tc('BlurElysiumSlides.settings.container.boxMode.inputLabel')" 
                                :style="{
                                    margin: 0
                                }"
                                v-model="slide.slideSettings.containerBoxMode">
                            </sw-switch-field>
                        {% endblock %}

                        {% block blur_elysium_slides_setting_content_container_horizontal_align %}
                            <sw-select-field 
                                v-model="slide.slideSettings.containerHorizontalAlign"
                                :placeholder="placeholder(slide, 'slideSettings.containerHorizontalAlign', this.$tc('BlurElysiumSlides.settings.container.horizontalAlign.placeholder') )"
                                :value="slide.slideSettings.containerHorizontalAlign">
                                <option value="left">{{ $tc('BlurElysiumSlides.settings.container.horizontalAlign.options.left') }}</option>
                                <option value="center">{{ $tc('BlurElysiumSlides.settings.container.horizontalAlign.options.center') }}</option>
                                <option value="right">{{ $tc('BlurElysiumSlides.settings.container.horizontalAlign.options.right') }}</option>
                            </sw-select-field>
                        {% endblock %}

                        <sw-field
                            type="text"
                            class="bc__my-0"
                            v-model="slide.slideSettings.containerMaxWidth" 
                        />
                    </sw-container>            
                </div>
            </sw-container>
        {% endblock %}
    </sw-card>
{% endblock %}
