{% block blur_elysium_slides_content_container_card %}
    <sw-card
        :title="$tc('BlurElysiumSlides.settings.container.title')"
        :is-loading="isLoading"
        v-if="!isLoading && slide.slideSettings"
    >

        {% block blur_elysium_slides_input_container_settings %}
            <div class="bc-base__description-text bc__mb-2" v-html="$tc('BlurElysiumSlides.settings.container.helpText')" />

            <sw-container columns="auto 1fr 1fr" gap="0 1rem">
                {% block blur_elysium_slides_input_container_box_mode %}
                    <sw-switch-field 
                        :label="$tc('BlurElysiumSlides.settings.container.boxMode.inputLabel')" 
                        v-model="slide.slideSettings.containerBoxMode"
                        class="bc__my-0">
                    </sw-switch-field>
                {% endblock %}

                {% block blur_elysium_slides_input_container_horizontal_align %}
                    <sw-select-field 
                        v-model="slide.slideSettings.containerHorizontalAlign"
                        class="bc__my-0"
                        :placeholder="placeholder(slide, 'slideSettings.containerHorizontalAlign', this.$tc('BlurElysiumSlides.settings.container.horizontalAlign.placeholder') )"
                        :value="slide.slideSettings.containerHorizontalAlign">
                        <option value="left">{{ $tc('BlurElysiumSlides.settings.container.horizontalAlign.options.left') }}</option>
                        <option value="center">{{ $tc('BlurElysiumSlides.settings.container.horizontalAlign.options.center') }}</option>
                        <option value="right">{{ $tc('BlurElysiumSlides.settings.container.horizontalAlign.options.right') }}</option>
                    </sw-select-field>
                {% endblock %}

                <sw-field
                    type="text"
                    class="bc__my-0"
                    v-model="slide.slideSettings.containerMaxWidth" 
                    :placeholder="placeholder(slide, 'slideSettings.containerMaxWidth', this.$tc('BlurElysiumSlides.settings.container.maxWidth.placeholder') )"
                />
            </sw-container>
        {% endblock %}
    </sw-card>
{% endblock %}
