{% block blur_elysium_slide_settings_display_general %}
    <sw-card
        :position-identifier="positionIdentifiers.detail.display.content"
        :title="$tc('blurElysiumSlides.slideSettings.display.slideContainer')"
    >

        <blur-card-section>

            <blur-paragraph
                :title="$tc('blurElysiumSlides.slideSettings.display.containerElementAppearance.title')" 
                :content="$tc('blurElysiumSlides.slideSettings.display.containerElementAppearance.description')" />

            <sw-container 
                columns="1fr 1fr 1fr 1fr"
                gap="24px"
                :style="{
                    alignItems: 'flex-end'
                }">

                <div :style="{
                    gridColumn: '1 / 5'
                }">
                
                    <sw-switch-field 
                        :label="$tc('blurElysiumSlides.slideSettings.display.containerElementAppearance.columnWrap.label')"
                        :value="viewportSettings.container.columnWrap"
                        :style="{
                            margin: '0'
                        }"
                        @change="value => setViewportSetting({key:'container.columnWrap', value: value})"
                    />
                    <p>
                        {{$tc('blurElysiumSlides.slideSettings.display.containerElementAppearance.columnWrap.helpText')}}
                    </p>
                </div>

                <sw-number-field 
                    type="int"
                    :label="$tc('blurElysiumSlides.slideSettings.display.common.maxWidth')"
                    :step="1"
                    :min="0"
                    :disabled="viewportSettings.container.maxWidthDisabled"
                    :value="viewportSettings.container.maxWidth"
                    @change="value => setViewportSetting({key:'container.maxWidth', value: value})"
                >
                    <template #suffix>Px</template>
                </sw-number-field>


                <sw-switch-field 
                    :label="$tc('blurElysiumSlides.slideSettings.display.common.noMaxWidth')"
                    :value="viewportSettings.container.maxWidthDisabled"
                    :style="{
                        padding: '14px',
                        gridColumn: '2 / 5'
                    }"
                    @change="value => setViewportSetting({key:'container.maxWidthDisabled', value: value})"
                />

                <sw-select-field 
                    :label="$tc('blurElysiumSlides.slideSettings.display.containerElementAppearance.order.label')"
                    :helpText="$tc('blurElysiumSlides.slideSettings.display.containerElementAppearance.order.helpText')"
                    :value="viewportSettings.container.order"
                    :style="{
                        gridColumn: '1 / 3'
                    }"
                    @change="value => setViewportSetting({key:'container.order', value: value})" >
                    <option value="default">
                        {{ $tc('blurElysiumSlides.slideSettings.display.containerElementAppearance.order.default') }}
                    </option>
                    <option value="reverse">
                        {{ $tc('blurElysiumSlides.slideSettings.display.containerElementAppearance.order.reverse') }}
                    </option>
                </sw-select-field>

                <sw-select-field 
                    :label="$tc('blurElysiumSlides.slideSettings.display.common.alignX')"
                    :helpText="$tc('blurElysiumSlides.slideSettings.display.containerElementAppearance.justifyContent.helpText')"
                    :value="viewportSettings.container.justifyContent"
                    @change="value => setViewportSetting({key:'container.justifyContent', value: value})" >
                    <option value="normal">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.normal') }}
                    </option>
                    <option value="flex-start">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.left') }}
                    </option>
                    <option value="center">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.center') }}
                    </option>
                    <option value="flex-end">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.right') }}
                    </option>
                    <option value="stretch">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.stretch') }}
                    </option>
                    <option value="space-between">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.spaceBetween') }}
                    </option>
                    <option value="space-around">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.spaceAround') }}
                    </option>
                </sw-select-field>

                <sw-select-field 
                    :label="$tc('blurElysiumSlides.slideSettings.display.common.alignY')"
                    :value="viewportSettings.container.alignItems"
                    @change="value => setViewportSetting({key:'container.alignItems', value: value})" >
                    <option value="flex-start">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.top') }}
                    </option>
                    <option value="center">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.center') }}
                    </option>
                    <option value="flex-end">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.bottom') }}
                    </option>
                </sw-select-field>

                <sw-number-field 
                    type="int"
                    :label="$tc('blurElysiumSlides.slideSettings.display.common.paddingX')"
                    :step="1"
                    :min="0"
                    :value="viewportSettings.container.paddingX"
                    @change="value => setViewportSetting({key:'container.paddingX', value: value})"
                >
                    <template #suffix>Px</template>
                </sw-number-field>

                <sw-number-field 
                    type="int"
                    :label="$tc('blurElysiumSlides.slideSettings.display.common.paddingY')"
                    :step="1"
                    :min="0"
                    :value="viewportSettings.container.paddingY"
                    @change="value => setViewportSetting({key:'container.paddingY', value: value})"
                >
                    <template #suffix>Px</template>
                </sw-number-field>

                <sw-number-field 
                    type="int"
                    :label="$tc('blurElysiumSlides.slideSettings.display.common.gap')"
                    :step="1"
                    :min="0"
                    :value="viewportSettings.container.gap"
                    @change="value => setViewportSetting({key:'container.gap', value: value})"
                >
                    <template #suffix>Px</template>
                </sw-number-field>

                <sw-number-field 
                    type="int"
                    :label="$tc('blurElysiumSlides.slideSettings.display.common.borderRadius')"
                    :step="1"
                    :min="0"
                    :value="viewportSettings.container.borderRadius"
                    @change="value => setViewportSetting({key:'container.borderRadius', value: value})"
                >
                    <template #suffix>Px</template>
                </sw-number-field>

                <sw-colorpicker 
                    :label="$tc('blurElysiumSlides.slideSettings.display.common.backgroundColor')"
                    :value="slide.slideSettings.container.bgColor"
                    :style="{
                        gridColumn: '1 / 3'
                    }"
                    @input="value => setSlideSetting({key:'container.bgColor', value: value})"
                />
            </sw-container>
        </blur-card-section>

        <blur-card-section>

            <blur-paragraph
                :title="$tc('blurElysiumSlides.slideSettings.display.contentElementAppearance.title')" 
                :content="$tc('blurElysiumSlides.slideSettings.display.contentElementAppearance.description')" />

            <sw-container 
                columns="1fr 1fr 1fr 1fr"
                gap="24px"
                :style="{
                    alignItems: 'flex-end'
                }">

                <sw-number-field 
                    type="int"
                    :label="$tc('blurElysiumSlides.slideSettings.display.common.maxWidth')"
                    :step="1"
                    :min="0"
                    :disabled="viewportSettings.content.maxWidthDisabled"
                    :value="viewportSettings.content.maxWidth"
                    :style="{
                        gridColumn: '1 / 2'
                    }"
                    @change="value => setViewportSetting({key:'content.maxWidth', value: value})"
                >
                    <template #suffix>Px</template>
                </sw-number-field>

                <sw-switch-field 
                    :label="$tc('blurElysiumSlides.slideSettings.display.common.noMaxWidth')"
                    :value="viewportSettings.content.maxWidthDisabled"
                    :style="{
                        padding: '14px',
                        gridColumn: '2 / 5'
                    }"
                    @change="value => setViewportSetting({key:`content.maxWidthDisabled`, value: value})"
                />

                <sw-select-field 
                    :label="$tc('blurElysiumSlides.slideSettings.display.common.textAlign')"
                    :value="viewportSettings.content.textAlign"
                    @change="value => setViewportSetting({key:'content.textAlign', value: value})" >
                    <option value="left">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.left') }}
                    </option>
                    <option value="center">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.center') }}
                    </option>
                    <option value="right">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.right') }}
                    </option>
                </sw-select-field>

                <sw-number-field 
                    type="int"
                    :label="$tc('blurElysiumSlides.slideSettings.display.common.paddingX')"
                    :step="1"
                    :min="0"
                    :value="viewportSettings.content.paddingX"
                    @change="value => setViewportSetting({key:'content.paddingX', value: value})"
                >
                    <template #suffix>Px</template>
                </sw-number-field>

                <sw-number-field 
                    type="int"
                    :label="$tc('blurElysiumSlides.slideSettings.display.common.paddingY')"
                    :step="1"
                    :min="0"
                    :value="viewportSettings.content.paddingY"
                    @change="value => setViewportSetting({key:'content.paddingY', value: value})"
                >
                    <template #suffix>Px</template>
                </sw-number-field>

            </sw-container>
        </blur-card-section>

        <blur-card-section last>
            <blur-paragraph
                :title="$tc('blurElysiumSlides.slideSettings.display.imageElementAppearance.title')" 
                :content="$tc('blurElysiumSlides.slideSettings.display.imageElementAppearance.description')" />
        
            <sw-container 
                columns="1fr 1fr 1fr 1fr"
                gap="24px"
                :style="{
                    alignItems: 'flex-end'
                }">

                <sw-select-field 
                    :label="$tc('blurElysiumSlides.slideSettings.display.common.alignX')"
                    :value="viewportSettings.image.justifyContent"
                    @change="value => setViewportSetting({key:'image.justifyContent', value: value})">
                    <option value="flex-start">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.left') }}
                    </option>
                    <option value="center">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.center') }}
                    </option>
                    <option value="flex-end">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.right') }}
                    </option>
                </sw-select-field>

                <sw-number-field 
                    type="int"
                    :label="$tc('blurElysiumSlides.slideSettings.display.common.noMaxWidth')"
                    :step="1"
                    :min="0"
                    :disabled="viewportSettings.image.maxWidthDisabled"
                    :value="viewportSettings.image.maxWidth"
                    @change="value => setViewportSetting({key:'image.maxWidth', value: value})"
                >
                    <template #suffix>Px</template>
                </sw-number-field>

                <sw-switch-field 
                    :label="$tc('blurElysiumSlides.slideSettings.display.common.noMaxWidth')"
                    :value="viewportSettings.image.maxWidthDisabled"
                    :style="{
                        padding: '14px',
                        gridColumn: '3 / 5'
                    }"
                    @change="value => setViewportSetting({key:'image.maxWidthDisabled', value: value})"
                />
            </sw-container>
        </blur-card-section>
    </sw-card>
{% endblock %}
