{% block blur_cms_block_elysium_banner_preview %}
    <div class="sw-cms-preview-blur-elysium-banner-block">

        {% block blur_cms_block_elysium_banner_preview %}
            <img class="blur-cms-element-preview-image" 
                :src="'blurelysiumslider/static/img/cms-banner-element-preview.svg' | asset">
        {% endblock %}
    </div>
{% endblock %}