{% block blur_elysium_slider_config_arrows %}
    <sw-card
        :position-identifier="positionIdentifiers.arrows.DEFAULT"
        >

        {% block blur_elysium_slider_config_arrows_general %}
            <blur-card-section 
                :position-identifier="positionIdentifiers.arrows.sectionGeneral"
                >

                <blur-paragraph
                    :title="$tc('blurElysiumSlider.general.general')"
                    />

                <sw-container 
                    columns="1fr"
                    gap="24px">

                    {% block blur_elysium_slider_config_arrows_active %}
                        <sw-switch-field 
                            style="margin: 0;"
                            v-model="arrowsConfig.active" 
                            :label="$tc('blurElysiumSlider.config.arrows.active')" />
                    {% endblock %}

                </sw-container>
            </blur-card-section>
        {% endblock %}

        {% block blur_elysium_slider_config_arrows_appearance %}
            <blur-card-section 
                :position-identifier="positionIdentifiers.arrowsAppearance"
                >

                <blur-paragraph
                    :title="$tc('blurElysiumSlider.general.appearance')"
                    />

                <sw-container 
                    columns="1fr 1fr"
                    gap="24px"
                    :breakpoints="containerBreakpoints['3col']">

                    {% block blur_elysium_slider_config_arrows_icons %}
                        <sw-select-field 
                            :label="$tc('blurElysiumSlider.config.arrows.icons.label')"
                            v-model="arrowsConfig.icon.default">
                            <option 
                                v-for="icon in icons" 
                                :key="icon.value" 
                                :value="icon.value">{{icon.label}}</option>
                        </sw-select-field>
                    {% endblock %}

                    {% block blur_elysium_slider_config_arrow_icon_size %}
                        <sw-number-field 
                            numberType="int"
                            :step="1"
                            :label="$tc('blurElysiumSlider.config.arrows.size.label')"
                            v-model="arrowsViewportConfig.iconSize">
                            <template #suffix>Px</template>
                            <template #hint><blur-elysium-device-hint /></template>
                        </sw-number-field>
                    {% endblock %}

                    {% block blur_elysium_slider_config_arrow_color %}
                        <div style="position:relative;">
                            <sw-colorpicker
                                :label="$tc('blurElysiumSlider.general.iconColor')"
                                v-model="arrowsConfig.colors.default"
                                colorOutput="auto"
                                :alpha="true"
                                :disabled="false"
                                :colorLabels="true"
                                :zIndex="1010">
                            </sw-colorpicker>
                        </div>
                    {% endblock %}

                    {% block blur_elysium_slider_config_arrow_color_active %}
                        <div style="position:relative;">
                            <sw-colorpicker
                                :label="$tc('blurElysiumSlider.general.iconColorActive')"
                                v-model="arrowsConfig.colors.active"
                                colorOutput="auto"
                                :alpha="true"
                                :disabled="false"
                                :colorLabels="true"
                                :zIndex="1010">
                            </sw-colorpicker>
                        </div>
                    {% endblock %}

                    {% block blur_elysium_slider_config_arrow_bg_color %}
                        <div style="position:relative;">
                            <sw-colorpicker
                                :label="$tc('blurElysiumSlider.general.bgColor')"
                                v-model="arrowsConfig.bgColors.default"
                                colorOutput="auto"
                                :alpha="true"
                                :disabled="false"
                                :colorLabels="true"
                                :zIndex="1010">
                            </sw-colorpicker>
                        </div>
                    {% endblock %}

                    {% block blur_elysium_slider_config_arrow_bg_color_active %}
                        <div style="position:relative;">
                            <sw-colorpicker
                                :label="$tc('blurElysiumSlider.general.bgColorActive')"
                                v-model="arrowsConfig.bgColors.active"
                                colorOutput="auto"
                                :alpha="true"
                                :disabled="false"
                                :colorLabels="true"
                                :zIndex="1010">
                            </sw-colorpicker>
                        </div>
                    {% endblock %}

                </sw-container>

            </blur-card-section>
        {% endblock %}
    </sw-card>
{% endblock %}