.blur-esldr__arrow-btn {
    background-color: var(--arrow-bg-color);
    border: var(--arrow-border-width) solid var(--arrow-border-color);
    border-radius: var(--arrow-radius);
    padding: var(--arrow-padding);
    transition: color .3s background-color .3s;
    color: var(--arrow-icon-color);

    &.splide__arrow--prev {
        left: #{' clamp(.5rem, 2vw, 2rem) '};
    }

    &.splide__arrow--next {
        right: #{' clamp(.5rem, 2vw, 2rem) '};
    }

    &:disabled {
        transition: color 0;
        color: inherit;
        background-color: inherit;
        opacity: 0;
    }

    &:focus {
        box-shadow: none;
    }

    .icon {
        display: block;
        line-height: 1;
        width: var(--arrow-icon-size);
        height: var(--arrow-icon-size);
        color: inherit;
    }

    svg {
        top: auto !important;
    }

    &:hover {
        color: var(--arrow-icon-color-active);
        background-color: var(--arrow-bg-color-active);
    }
}