.blur-elysium-slide {
    /** Slide vars */
    --slide-padding-y: 15px;
    --slide-padding-offset-y: 0px;
    --slide-padding-x: 15px;
    --slide-padding-offset-x: 0px;
    --slide-align-items: center;
    --slide-justify-content: center;
    --slide-border-radius: 0px;
    --slide-aspect-ratio: auto;
    --slide-gradient-color-start: transparent;
    --slide-gradient-color-end: transparent;
    --slide-gradient-deg: 45deg;
    --slide-bg-color: transparent;
    --slide-bg-image: linear-gradient(var(--slide-gradient-deg), var(--slide-gradient-color-start), var(--slide-gradient-color-end));
    /** Slide cover vars */
    --cover-object-fit: cover;
    --cover-object-pos-x: center;
    --cover-object-pos-y: center;
    /** Slide container vars */
    --container-display: flex;
    --container-padding-y: 15px;
    --container-padding-x: 15px;
    --container-gap: 20px;
    --container-border-radius: 0px;
    --container-align-items: center;
    --container-justify-content: normal;
    --container-direction: row;
    --container-flex-wrap: nowrap;
    --container-max-width: none;
    /** Slide content vars */
    --content-display: flex;
    --content-direction: column;
    --content-gap: 24px;
    --content-padding-x: 0px;
    --content-padding-y: 0px;
    --content-order: 1;
    --content-flex-grow: 1;
    --content-flex-basis: 0%;
    --content-text-align: left;
    --content-max-w: none;
    /** Slide image vars */
    --image-flex-grow: 1;
    --image-flex-basis: 0%;
    --image-max-w: none;
    --image-align-items: center;
    --image-justify-content: center;
    --image-order: 2;
    /** Slide description vars */
    --description-color: inherit;
    --description-font-size: inherit;
    /** Slide headline vars */
    --headline-color: inherit;
    --headline-font-size: 20px;

    position: relative;
    width: 100%;
    background: {
        repeat: no-repeat;
        color: var(--slide-bg-color);
        image: var(--slide-bg-image);
    };
    border-radius: var(--slide-border-radius);
    aspect-ratio: var(--slide-aspect-ratio);
    padding: calc(var(--slide-padding-y) + var(--slide-padding-offset-y)) calc(var(--slide-padding-x) + var(--slide-padding-offset-x));
    align-items: var(--slide-align-items);
    justify-content: var(--slide-justify-content);
    max-height: var(--slide-max-height);
    overflow: hidden;
}

.blur-elysium-slide-cover-picture {
    display: contents;
}

.blur-elysium-slide-cover-image,
.blur-elysium-slide-cover-video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    z-index: 1;
    object-fit: var(--cover-object-fit);
    object-position: var(--cover-object-pos-x) var(--cover-object-pos-y);
}

.blur-elysium-slide-container-wrapper {
    align-items: var(--slide-align-items);
    justify-content: var(--slide-justify-content);
}

.blur-elysium-slide-container {
    position: relative;
    z-index: 5;
    display: var(--container-display);
    flex-direction: var(--container-direction);
    flex-wrap: var(--container-flex-wrap);
    gap: var(--container-gap);
    justify-content: var(--container-justify-content);
    align-items: var(--container-align-items);
    max-width: var(--container-max-width);
    padding: var(--container-padding-y) var(--container-padding-x);
    border-radius: var(--container-border-radius);
    background: {
        color: var(--container-bg-color);
    };
    overflow: hidden;
    flex-basis: 100%;
    width: 100%;
}

.blur-elysium-slide-content {
    display: var(--content-display);
    flex-direction: var(--content-direction);
    gap: var(--content-gap);
    order: var(--content-order);
    flex: var(--content-flex-grow) 0 var(--content-flex-basis);
    width: 100%;
    padding: var(--content-padding-y) var(--content-padding-x);
    text-align: var(--content-text-align);
    max-width: var(--content-max-w);
}

.blur-elysium-slide-image {
    display: flex;
    flex: var(--image-flex-grow) 0 var(--image-flex-basis);
    justify-content: var(--image-justify-content);
    align-items: var(--image-align-items);
    order: var(--image-order);
    width: 100%;
    max-width: var(--image-max-w);

    img {
        width: 100%;
    }
}

.blur-elysium-slide-headline {
    color: var(--headline-color);
    font-size: var(--headline-font-size);
    margin: 0;
}

.blur-elysium-slide-description {
    color: var(--description-color);
    font-size: var(--description-font-size);
}

.blur-elysium-slide-link-overlay {
    display: block;
    position: absolute;
    inset: 0;
    z-index: 5;
}