.cms-element-elysium-slider {
    position: relative;

    &.justify-slide-height {

        .swiper-slide {
            display: flex;
            flex-direction: row;
            flex: 0 0 auto;
        }
    }

    &.slide-overlay {

        .blur-elysium-slide::before {
            content: '';
            display: block;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.25);
            z-index: 2;
        }
    }

    .swiper {

        &-wrapper {
            padding: 0px;
            margin: 0px;
        }

        &-slide {
            height: auto;
            min-height: 100%;
        }

        &-action {

            .icon {
                width: var(--nav-action-icon-size, 24px);
                height: var(--nav-action-icon-size, 24px);
                color: inherit;
                display: block;
                line-height: 1;
            }

            &.swiper-action-prev {
                left: var(--nav-action-offset, 0px);
            }

            &.swiper-action-next {
                right: var(--nav-action-offset, 0px);
            }

            &:disabled,
            &.swiper-button-disabled {
                opacity: var(--nav-action-opacity, 0);
            }

            svg {
                top: auto !important;
            }
        }

        &-pagination {

            &.pagination-bullets-bar {
                .swiper-pagination-bullet {
                    --pagination-bullet-aspect-ratio: 4 / 1;
                }
            }

            &-bullet {
                @extend .d-block;
                aspect-ratio: var(--pagination-bullet-aspect-ratio, 1 / 1);
                width: var(--pagination-bullet-size, 16px);
                background-color: var(--pagination-bullet-color, rgba(0, 0, 0, 0.25));
                border-radius: var(--pagination-bullet-radius, 100px);
                cursor: var(--pagination-bullet-cursor, pointer);
                transition: var(--pagination-bullet-transition, all 300ms);

                &:hover,
                &.swiper-pagination-bullet-active {
                    background-color: var(--pagination-bullet-color-active, rgba(0, 0, 0, 0.5));
                }
            }
        }
    }
}
