.blur-elysium-slide {
    position: relative;
    width: 100%;

    background: {
        repeat: no-repeat;
        color: var(--slide-bg-color, transparent);
        image: var(--slide-bg-image,
                linear-gradient(var(--slide-gradient-deg, 45deg),
                    var(--slide-gradient-color-start, transparent),
                    var(--slide-gradient-color-end, transparent)));
    }
}

.blur-elysium-slide-cover-picture {
    display: contents;
}

.blur-elysium-slide-cover-image,
.blur-elysium-slide-cover-video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.blur-elysium-slide-container {
    position: relative;
    z-index: 5;
}

.blur-elysium-slide-link-overlay {
    display: block;
    position: absolute;
    inset: 0;
    z-index: 5;
}
