.cms-block-container-row {
    .cms-block-blur-elysium-slider &,
    .cms-block-blur-elysium-banner &,
    .cms-block-blur-elysium-block-two-col & {
        margin: 0;
    }
}

.blur-elysium-block.one-col {
    --columns: minmax(0, 1fr);
}
