.cms-block-container-row {

    .cms-block-blur-elysium-slider-block &,
    .cms-block-blur-elysium-banner-block &,
    .cms-block-blur-elysium-block-two-col & {
        margin: 0;
    }
}

.blur-elysium-block {
    --block-columns: minmax(0, 1fr);
    grid-template-columns: var(--block-columns);
    padding: 0;

}