.blur-elysium-slide {
    --padding-x: 15px;
    --padding-y: 15px;
    --bg-color: transparent;
    --bg-size: cover;
    --bg-pos-x: center;
    --bg-pos-y: center;
    --aspect-ratio: auto;
    --border-radius: 0;
    --align-items: center;
    --justify-content: center;
    --gradient-color-start: transparent;
    --gradient-color-end: transparent;
    --gradient-deg: 45deg;
    --bg-image: linear-gradient(var(--gradient-deg), var(--gradient-color-start), var(--gradient-color-end));
    position: relative;
    width: 100%;
    background: {
        repeat: no-repeat;
        color: var(--bg-color);
        size: var(--bg-size);
        position-x: var(--bg-pos-x);
        position-y: var(--bg-pos-y);
        image: var(--bg-image);
    };
    border-radius: var(--border-radius);
    aspect-ratio: var(--aspect-ratio);
    padding-left: var(--padding-x);
    padding-right: var(--padding-x);
    padding-top: var(--padding-y);
    padding-bottom: var(--padding-y);
    align-items: var(--align-items);
    justify-content: var(--justify-content);
}

.blur-elysium-slide-cover-picture {
    display: contents;
}

.blur-elysium-slide-cover-image,
.blur-elysium-slide-cover-video {
    --object-fit: cover;
    --object-pos-x: center;
    --object-pos-y: center;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    z-index: 1;
    object-fit: var(--object-fit);
    object-position: var(--object-pos-x) var(--object-pos-y);
}

.blur-elysium-slide-container {
    --columns: 1fr;
    --padding-x: 15px;
    --padding-y: 15px;
    --gap: 20px;
    --align-items: center;
    --justify-content: normal;
    --max-width: none;
    --border-radius: 0;
    --bg-color: transparent;
    position: relative;
    z-index: 5;
    grid-template-columns: var(--columns);
    grid-gap: var(--gap);
    justify-content: var(--justify-content);
    align-items: var(--align-items);
    max-width: var(--max-width);
    padding: var(--padding-y) var(--padding-x);
    border-radius: var(--border-radius);
    background: {
        color: var(--bg-color);
    };
    overflow: hidden;
    flex-basis: 100%;
    width: 100%;
}

.blur-elysium-slide-content {
    --padding-x: 0;
    --padding-y: 0;
    --order: 1;
    --max-width: none;
    --text-align: left;
    order: var(--order);
    width: 100%;
    max-width: var(--max-width);
    padding-left: var(--padding-x);
    padding-right: var(--padding-x);
    padding-top: var(--padding-y);
    padding-bottom: var(--padding-y);
    text-align: var(--text-align);
}

.blur-elysium-slide-image {
    --align-items: center;
    --justify-content: center;
    --order: 2;
    --max-width: none;
    --image-width: auto;
    display: flex;
    justify-content: var(--justify-content);
    align-items: var(--align-items);
    order: var(--order);
    width: 100%;
    max-width: var(--max-width);

    img {
        width: var(--image-width);
    }
}

.blur-elysium-slide-headline {
    --color: inherit;
    color: var(--color);
}

.blur-elysium-slide-description {
    --color: inherit;
    --font-size: inherit;
    color: var(--color);
    font-size: var(--font-size);
}