.cms-element-elysium-slider {
    --slide-aspect-ratio: 4 / 3;
    --slide-padding-offset-y: 24px;
    --slide-padding-offset-x: 24px;
    position: relative;

    &.slide-overlay {
        .blur-elysium-slide::before {
            content: '';
            display: block;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.25);
            z-index: 2;
        }
    }
}

.blur-elysium-slider {
    position: relative;

    &:not(.is-initialized) {

        .blur-esldr__arrow-btn {
            display: none;
        }
        
        .cms-element-elysium-slide__wrapper {
            flex: 1 100%;
        }
    }

    &.is-loading {

        .cms-element-elysium-slide__wrapper {

            &:not(:first-child) {
                display: none;
            }
        }        
    }
}

.blur-elysium-slide__wrapper {
    position: relative;
}

@import 'navigation';
@import 'arrows';