%bes_slide-padding {
    padding-top: $blur-elysium-slide-py;
    padding-bottom: $blur-elysium-slide-py;
    padding-left: $blur-elysium-slide-py;
    padding-right: $blur-elysium-slide-py;

    @include media-breakpoint-up( md ) {
        padding-top: $blur-elysium-slide-py-md;
        padding-bottom: $blur-elysium-slide-py-md;
        padding-left: $blur-elysium-slide-py-md;
        padding-right: $blur-elysium-slide-py-md;
    }

    @include media-breakpoint-up( lg ) {
        padding-top: $blur-elysium-slide-py-lg;
        padding-bottom: $blur-elysium-slide-py-lg;
        padding-left: $blur-elysium-slide-py-lg;
        padding-right: $blur-elysium-slide-py-lg;
    }
}