.blur-esldr__nav {
    padding: var(--nav-padding-y) var(--nav-padding-x);
    gap: var(--nav-bullet-gap);
    justify-content: var(--nav-justify-content);
}

.blur-esldr__nav-bullet {
    aspect-ratio: var(--nav-bullet-aspect-ratio);
    width: var(--nav-bullet-size);
    background-color: var(--nav-bullet-color);
    padding: 0;
    margin: 0;
    border-radius: 10rem;
    border: var(--nav-bullet-border-width) solid var(--nav-bullet-border-color);
    cursor: pointer;
    transition: all .3s;

    &.is-active,
    &:hover {
        background-color: var(--nav-bullet-color-active);
    }

    .blur-esldr__nav.bullet-shape__bar & {
        --nav-bullet-aspect-ratio: 4 / 1;
    }
}