:root {
    // general
    --bc-esld-text-color: #ffffff;
    --bc-esld-title-mb: 1rem;
    --bc-esld-description-mb: 1rem;
    // z-index
    --bc-esld-zindex-overlay: 5;
    --bc-esld-zindex-container: 10;
    --bc-esld-zindex-url-overlay: 15;
    // padding
    --bc-esld-padding-x-min: 4rem;
    --bc-esld-padding-x-max: 8rem;
    --bc-esld-padding-x-scale: 12vw;
    --bc-esld-padding-y-min: 2rem;
    --bc-esld-padding-y-max: 3rem;
    --bc-esld-padding-y-scale: 3vw;
    // headline
    --bc-esld-headline-font-size-min: 1.5rem;
    --bc-esld-headline-font-size-max: 3rem;
    --bc-esld-headline-font-size-scale: 4vw;
    // description
    --bc-esld-description-font-size-min: 1rem;
    --bc-esld-description-font-size-max: 1.5rem;
    --bc-esld-description-font-size-scale: 2vw;
    // button
    --bc-esld-button-font-size-min: 1rem;
    --bc-esld-button-font-size-max: 1.25rem;
    --bc-esld-button-font-size-scale: 2vw;
}