{% block blur_elysium_slide_selection %}
    <div>

        {% block blur_elysium_slide_selection_label %}
            <div class="blur-es-selection-label">
                {{ $tc('blurElysiumSlides.slideSelection.label') }}
            </div>
        {% endblock %}

        {% block blur_elysium_slide_selection_search %}
            <div class="blur-es-selection__search">

                {% block blur_elysium_slide_selection_search_bar %}
                    <sw-simple-search-field
                        ref="slideSearchField"
                        v-model="searchTerm"
                        :delay="300" 
                        variant="form"
                        @focus="focusSearch"
                        @blur="blurSearch" />
                {% endblock %}

                <template v-if="searchFocus === true">

                    {% block blur_elysium_slide_selection_search_result_list %}
                        <sw-select-result-list 
                            ref="resultList"
                            :options="elysiumSlides"
                            :empty-message="$tc('blurElysiumSlides.slideSearch.noResult')"
                            :focus-el="$refs.slideSearchField.$el.querySelector('input')"
                            @item-select="selectSlide"
                        >

                            <template #result-item="{item, index}">

                                <slot
                                    name="result-item"
                                    v-bind="{ item, index }"
                                >
                                    {% block blur_elysium_slide_selection_search_result_item %}
                                        <li
                                            is="sw-select-result"
                                            :selected="slideIsSelected( item )"
                                            v-bind="{ item, index }"
                                            class="blur-es-selection__search-result-list-item"
                                            @item-select.prevent="selectSlide">
                                            <div class="blur-es-selection__search-result-item">
                                                <div>
                                                    <div>{{ item.translated.name }}</div>
                                                    <div style="font-weight:600;">{{ item.translated.title.replace(/<\/?[^>]+>/ig, " ") }}</div>
                                                </div>
                                                <div>
                                                    {{ selectedSlides.includes(item.id) ? $tc('blurElysiumSlides.slideSearch.removeItem') : $tc('blurElysiumSlides.slideSearch.addItem') }}
                                                </div>
                                            </div>
                                        </li>
                                    {% endblock %}
                                </slot>

                            </template>
                        </sw-select-result-list>
                    {% endblock %}

                </template>        
            </div>
        {% endblock %}

        {% block blur_elysium_slide_selection_list_container %}
            <div v-if="selectedSlides.length > 0"
                class="blur-es-selection__list-container">

                {% block blur_elysium_slide_selection_list_label %}
                    <div class="blur-es-selection__list-label">
                        {{ $tc('blurElysiumSlides.slideSelection.list.label') }}
                    </div>
                {% endblock %}

                {% block blur_elysium_slide_selection_list %}
                    <div class="blur-es-selection__list"
                        ref="selectionList"
                        @drop="onDrop($event)"
                        @dragleave="leaveDrop($event)"
                        @dragend="dragEnd($event)"
                        @dragover.prevent
                        @dragenter.prevent>
                        {% block blur_elysium_slide_selection_list_item %}
                            <blur-elysium-slide-select-item 
                                v-for="slide in selectedSlides" 
                                :key="slide"
                                :selected-slide="slide" 
                                draggable
                                @start-drag="startDrag"
                                @enter-drag="onDrag"
                                @end-drag="endDrag"
                                @position-up="slidePositionUp"
                                @position-down="slidePositionDown"
                                @edit-slide="onEditSlide"
                                @remove-slide="onRemoveSlide" />
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
            <p v-else class="blur-es-selection__list-helptext" 
                v-html="$tc('blurElysiumSlides.slideSelection.list.helptext')" />
        {% endblock %}

    </div>
{% endblock %}
