<div>
    <div style="margin-bottom:.5rem;">
        {{ $tc('ElysiumSlidesSelectionLabel') }}
    </div>

    <div style="position:relative;">
        <sw-simple-search-field
            ref="slideSearchField"
            v-model="searchTerm"
            :delay="300" 
            variant="form"
            @focus="focusSearch"
            @blur="blurSearch" />

        <template v-if="searchFocus === true">

                <sw-select-result-list 
                    ref="resultList"
                    :options="elysiumSlides"
                    :empty-message="$tc('NoElysiumSlidesFound')"
                    :focus-el="$refs.slideSearchField.$el.querySelector('input')"
                    @item-select="selectSlide"
                >

                    <template #result-item="{item, index}">
                        <slot
                            name="result-item"
                            v-bind="{ item, index }"
                        >
                            <li
                                is="sw-select-result"
                                :selected="slideIsSelected( item )"
                                v-bind="{ item, index }"
                                @item-select.prevent="selectSlide">
                                <div>{{ item.name }}</div>
                                <div style="font-weight:600;">{{ item.title }}</div>
                            </li>
                        </slot>

                    </template>
                </sw-select-result-list>

        </template>        
    </div>

    <div v-if="selectedSlides.length > 0"
        style="padding:1rem 0;">

        <div style="margin-bottom:1rem;">
            {{ $tc('ElysiumSlidesSelection') }}
        </div>

        <div style="display:grid;grid-template-columns:minmax(0, 1fr);grid-gap:1rem;">
            <blur-elysium-slide-select-item 
                v-for="slide in selectedSlides" 
                :key="slide"
                :selected-slide="slide" 
                @position-up="slidePositionUp"
                @position-down="slidePositionDown"
                @remove-slide="onRemoveSlide" />
        </div>
    </div>
    <p v-else style="padding:1rem 0;">
        {{ $tc('ElysiumSlidesHepltext') }}
        Klicke in das Suchfeld und wähle aus deinen Slide Sammlung aus<br/>
        Deine Slides findest du unter <b>Inhalte &rsaquo; Elysium Slides</b>, dort kannst du auch neue Slides erstellen.
    </p>

</div>
