<div>
    <div style="margin-bottom:.5rem;">
        {{ $tc('ElysiumSlidesSelectionLabel') }}
    </div>

    <div style="position:relative;">
        <sw-simple-search-field
            ref="slideSearchField"
            v-model="searchTerm"
            :delay="300" 
            variant="form"
            @focus="focusSearch"
            @blur="blurSearch" />

        <template v-if="searchFocus === true">

                <sw-select-result-list 
                    ref="resultList"
                    :options="elysiumSlides"
                    :empty-message="$tc('NoElysiumSlidesFound')"
                    :focus-el="$refs.slideSearchField.$el.querySelector('input')"
                    @item-select="selectSlide"
                >

                    <template #result-item="{item, index}">
                        <slot
                            name="result-item"
                            v-bind="{ item, index }"
                        >
                            <li
                                is="sw-select-result"
                                :selected="slideIsSelected( item )"
                                v-bind="{ item, index }"
                                @item-select.prevent="selectSlide">
                                <div>{{ item.name }}</div>
                                <div style="font-weight:600;">{{ item.title }}</div>
                            </li>
                        </slot>

                    </template>
                </sw-select-result-list>

        </template>        
    </div>

    <div v-if="selectedSlidesList.length > 0"
        style="padding:1rem 0;">
        <div v-for="slide in selectedSlidesList" 
            :key="slide.id"
            style="background-color:#f3f3f3;padding:.5rem 1rem;margin:.5rem 0;border-radius:5px;">
            {{slide.name}}
        </div>
    </div>

</div>
