<div :style="viewStyle(styles.container)">

    <div :style="{
            display: 'flex',
            flexDirection: 'row',
            alignItems: 'center',
            justifyContent: 'center',
            gap: '20px',
            flexWrap: 'wrap',
            padding: '16px',
            position: 'sticky',
            top: '0px',
            zIndex: '10',
            borderBottom: '1px solid var(--color-border-secondary-default)',
            backgroundColor: 'var(--color-background-primary-default)',
        }">

        <div>

            <div 
                :style="{
                    lineHeight: '1',
                    fontSize: '12px',
                    fontWeight: '500',
                    marginBottom: '4px',
                }"
            >
                Seitenverhaeltnis
            </div>

            <div :style="{
                    display: 'flex',
                    flexDirection: 'row',
                    alignItems: 'center',
                    gap: '8px',
                    flexWrap: 'wrap'
                }"
            >

                <py-number-field
                    layout="row"
                    :model-value="aspectRatioX"
                    @update:model-value="onAspectRatioXChange"
                    :label="false"
                    :min="1" 
                    :step="1" 
                    :style="viewStyle({
                        mobile: {
                            maxWidth: '120px',
                        }
                    })"
                    />

                <py-number-field
                    layout="row"
                    :model-value="aspectRatioY"
                    @update:model-value="onAspectRatioYChange"
                    :label="false"
                    :min="1" 
                    :step="1" 
                    :style="viewStyle({
                        mobile: {
                            maxWidth: '120px',
                        }
                    })"
                />
            </div>
        </div>

        <div>

            <div 
                :style="{
                    lineHeight: '1',
                    fontSize: '12px',
                    fontWeight: '500',
                    marginBottom: '4px',
                }"
            >
                Breite
            </div>

            <div :style="{
                    display: 'flex',
                    flexDirection: 'row',
                    alignItems: 'center',
                    gap: '8px',
                    flexWrap: 'wrap'
                }"
            >

                <py-number-field
                    layout="row"
                    :model-value="width"
                    @update:model-value="onWidthChange"
                    placeholder="in Pixel"
                    :label="false"
                    :step="1" 
                    :allow-empty="true"
                    :style="viewStyle({
                        mobile: {
                            maxWidth: '160px',
                        }
                    })"
                    />
            </div>
        </div>

        <div v-if="hasAvailableDomains">
            <div 
                :style="{
                    lineHeight: '1',
                    fontSize: '12px',
                    fontWeight: '500',
                    marginBottom: '4px',
                }"
            >
                Verkaufskanal
            </div>

            <py-select-field
                layout="row"
                :model-value="selectedSalesChannelId"
                @update:model-value="onSalesChannelChange"
                :options="salesChannels.map(channel => ({ value: channel.id, label: channel.name }))"
                :style="viewStyle({
                    mobile: {
                        maxWidth: '200px',
                    }
                })"
            />
        </div>

    </div>

    <div :style="viewStyle(styles.canvas)">
        <elysium-slide-live-preview
            v-if="slide && hasAvailableDomains && previewDomain"
            :slide-id="slide.id"
            :slide="slide"
            :device="device"
            :aspect-ratio-x="aspectRatioX"
            :aspect-ratio-y="aspectRatioY"
            :max-height="'none'"
            :max-width="width"
            :base-url="previewDomain"
            :frame-padding="40"
            layout="detail"
            :style="{ flex: '1 100%' }"
        />

        <elysium-slide-preview-unavailable
            v-else-if="!hasAvailableDomains"
            :style="{ flex: '1 100%' }"
        />
    </div>
</div>
