<div 
    :class="['fy-input', { 'is-error': error }] "
    :style="viewStyle(styles.container)">

    <label 
        for=""
        :style="viewStyle(styles.label)">
        {{label}}
        <span 
            class="fy-input-required"
            v-if="required">*</span>
        <span
            v-tooltip="{
                message: 'casvx',
            }"
        >i</span>
    </label>

    <input 
        type="text"
        :value="modelValue"
        @input="$emit('update:modelValue', $event.target.value)"
        :placeholder="placeholder"
        class="fy-input-text fy-input-control"
        :style="viewStyle(styles.input)" />

    <div
        v-if="error"
        :style="{
            'grid-column': 'auto / span 2',
            'font-size': '12px',
            'text-align': 'right'
        }">
        {{ error._detail }}
    </div>
</div>