{% set btnDefaultClasses = [
    'btn',
    'swiper-action'
] %}
{% if btnClasses is defined %}
    {% set btnClasses = btnDefaultClasses|merge(btnClasses) %}
{% else %}
    {% set btnClasses = btnDefaultClasses %}
{% endif %}

{% set controlsId = controlsId|default(false) %}
{% set label = label|default(false) %}

{% block component_elysium_slider_navigation_action %}
    <button
        type="button"
        {% if label %}
            aria-label="{{ label }}"
        {% endif %}
        {% if controlsId %}
            aria-controls="{{ controlsId }}"
        {% endif %}
        class="{{ btnClasses|join(' ') }}"
        style="--bs-btn-bg: var(--nav-action-bg-color, transparent); --bs-btn-hover-bg: var(--nav-action-bg-color-active, transparent); --bs-btn-color: var(--nav-action-icon-color, rgba(255, 255, 255, 0.75)); --bs-btn-hover-color: var(--nav-action-icon-color-active, rgba(255, 255, 255, 1)); --bs-btn-active-color: var(--nav-action-icon-color-active, rgba(255, 255, 255, 1)); --bs-btn-border-width: var(--nav-action-border-width, 2px); --bs-btn-border-color: var(--nav-action-border-color, transparent); --bs-btn-border-radius: var(--nav-action-border-radius, transparent); --bs-btn-padding-x: var(--nav-action-padding, 10px); --bs-btn-padding-y: var(--nav-action-padding, 10px);">

        {% block component_elysium_slider_navigation_action_icon %}
            {% if icon %}
                {% sw_include '@Storefront/storefront/utilities/icon.html.twig' with {
                    name: icon
                } %}
            {% endif %}
        {% endblock %}

        {% block component_elysium_slider_navigation_action_label %}
            {% if label %}
                <span class="btn-label visually-hidden">{{ label }}</span>
            {% endif %}
        {% endblock %}
    </button>
{% endblock %}