{% set paginationDefaultClasses = [
    'swiper-pagination',
    'pagination-bullets-' ~ element.translated.config.navigation.value.shape,
] %}

{% if paginationClasses is defined %}
    {% set paginationClasses = paginationDefaultClasses|merge(paginationClasses) %}
{% else %}
    {% set paginationClasses = paginationDefaultClasses %}
{% endif %}

{% set label = label|default(false) %}

{% block component_elysium_slider_pagination %}
    <div 
        role="navigation"
        {% if label %}
            aria-label="{{ label }}"
        {% endif %}
        class="{{ paginationClasses|join(' ') }}"
        style="padding: var(--pagination-padding-y, 20px) var(--pagination-padding-x, 20px); gap: var(--pagination-gap, 16px); justify-content: var(--pagination-justify-content, center);">
    </div>
{% endblock %}