{% set paginationDefaultClasses = [
    'swiper-pagination'
] %}
{% if paginationClasses is defined %}
    {% set paginationClasses = paginationDefaultClasses|merge(paginationClasses) %}
{% else %}
    {% set paginationClasses = paginationDefaultClasses %}
{% endif %}

{% block component_elysium_slider_pagination %}
    <div class="{{ paginationClasses|join(' ') }}">
    </div>
{% endblock %}