{% block blur_cms_block_elysium_slider_block_component %}
    <div class="sw-cms-block-blur-elysium-slider-block">
        <slot name="main">{% block blur_cms_block_elysium_slider_block_component_main_slot %}{% endblock %}</slot>
    </div>
{% endblock %}
