<div
    :style="contentStyles">
    
    <component 
        v-if="headline"
        v-html="headline"
        :style="headlineStyles"
        :is="headlineTag" />

    <div 
        v-if="description"
        v-html="description"
        :style="descriptionStyles" />

    <mt-button
        v-if="showButton"
        size="default"
        :style="buttonStyles"
        :target="slide.slideSettings?.slide?.linking?.openExternal ? '_blank' : '_self'">
        {{slide.buttonLabel}}
    </mt-button>
</div>