{% block blur_elysium_slides_basic_form %}
<sw-card-view>
    <sw-card
        :position-identifier="positionIdentifiers.detail.media"
        :title="$tc('blurElysiumSlides.slideSettings.slideCover.label')">
        
        <sw-container columns="1fr 1fr" gap="32px">

            {% block blur_elysium_slides_media_form_cover_upload %}
                <div>
                    <sw-upload-listener
                        :upload-tag="uploadTag.cover"
                        auto-upload
                        @media-upload-finish="payload => setMedia( 'slideCover', payload.targetId )"
                    />
                    <sw-media-upload-v2
                        class="blur-elysium-slides__media-upload"
                        variant="regular"
                        file-accept="*/*"
                        :disabled="!editable"
                        :upload-tag="uploadTag.cover"
                        :source="slideCoverPreview"
                        :allow-multi-select="false"
                        :label="$tc('BlurElysiumSlides.mediaForm.uploadInput.title')"
                        :help-text="$tc('BlurElysiumSlides.mediaForm.uploadInput.helpText')"
                        :default-folder="entityName"
                        @media-drop="payload => setMedia( 'slideCover', payload.id )"
                        @media-upload-remove-image="payload => resetMedia( 'slideCover' )"
                        @media-upload-sidebar-open="mediaSidebar.openContent()"
                    />            
                </div>
            {% endblock %}


            {% block blur_elysium_slides_media_form_cover_portrait_upload %}
                <div v-if="slide.mediaPortrait?.mediaType.name !== 'VIDEO'">
                    <sw-upload-listener
                        :upload-tag="uploadTag.coverPortrait"
                        auto-upload
                        @media-upload-finish="payload => setMedia( 'slideCoverPortrait', payload.targetId )"
                    />
                    <sw-media-upload-v2
                        :disabled="!editable"
                        :upload-tag="uploadTag.coverPortrait"
                        :source="slideCoverPortraitPreview"
                        class="blur-elysium-slides__media-upload"
                        :allow-multi-select="false"
                        variant="regular"
                        :label="$tc('BlurElysiumSlides.mediaForm.coverPortrait.title')"
                        :help-text="$tc('BlurElysiumSlides.mediaForm.coverPortrait.helpText')"
                        :default-folder="entityName"
                        file-accept="image/*"
                        @media-drop="payload => setMedia( 'slideCoverPortrait', payload.id )"
                        @media-upload-remove-image="payload => resetMedia( 'slideCoverPortrait' )"
                        @media-upload-sidebar-open="mediaSidebar.openContent()"
                    />            
                </div>
            {% endblock %}
        </sw-container>
    </sw-card>

    <sw-card
        :position-identifier="positionIdentifiers.detail.presentationMedia"
        :title="$tc('blurElysiumSlides.slideSettings.presentationMedia.label')">
        
        <sw-container columns="1fr" gap="32px">

            {% block blur_elysium_slides_media_form_presentation_media_upload %}
                <div>
                    <sw-upload-listener
                        :upload-tag="uploadTag.presentationMedia"
                        auto-upload
                        @media-upload-finish="payload => setMedia( 'presentationMedia', payload.targetId )"
                    />
                    <sw-media-upload-v2
                        class="blur-elysium-slides__media-upload"
                        variant="regular"
                        file-accept="image/*"
                        :disabled="!editable"
                        :upload-tag="uploadTag.presentationMedia"
                        :source="presentationMediaPreview"
                        :allow-multi-select="false"
                        :help-text="$tc('BlurElysiumSlides.mediaForm.uploadInput.helpText')"
                        :default-folder="entityName"
                        @media-drop="payload => setMedia( 'presentationMedia', payload.id )"
                        @media-upload-remove-image="payload => resetMedia( 'presentationMedia' )"
                        @media-upload-sidebar-open="mediaSidebar.openContent()"
                    />            
                </div>
            {% endblock %}
        </sw-container>
    </sw-card>
</sw-card-view>
{% endblock %}
