{% block blur_elysium_slides_basic_form %}
<div>
    <sw-card
        :position-identifier="positionIdentifiers.detail.media"
        :title="$tc('blurElysiumSlides.slideSettings.slideCover.label')">

        <blur-card-section>

            <blur-paragraph
                :title="$tc('blurElysiumSlides.slideSettings.slideCoverImage.title')" 
                :content="$tc('blurElysiumSlides.slideSettings.slideCoverImage.description')" 
                :style="{
                    marginBottom: '0'
                }" />

            <blur-elysium-slide-media-upload 
                v-if="viewport === 'mobile'"
                :label="'Medium'"
                :uploadTag="uploadTag.slideCoverMobile"
                :media="slideCoverMobile"
                allowed-file="image/*"
                @upload-finished="payload => setMedia( 'slideCoverMobile', payload.targetId )"
                @media-dropped="payload => setMedia( 'slideCoverMobile', payload, 'image')"
                @media-remove="payload => resetMedia( 'slideCoverMobile' )"
                @media-sidebar-open="mediaSidebar.openContent()"
            />
            <blur-elysium-slide-media-upload 
                v-if="viewport === 'tablet'"
                :label="'Medium'"
                :uploadTag="uploadTag.slideCoverTablet"
                :media="slideCoverTablet"
                allowed-file="image/*"
                @upload-finished="payload => setMedia( 'slideCoverTablet', payload.targetId )"
                @media-dropped="payload => setMedia( 'slideCoverTablet', payload, 'image' )"
                @media-remove="payload => resetMedia( 'slideCoverTablet' )"
                @media-sidebar-open="mediaSidebar.openContent()"
            />
            <blur-elysium-slide-media-upload 
                v-if="viewport === 'desktop'"
                :label="'Medium'"
                :uploadTag="uploadTag.slideCover"
                :media="slideCover"
                allowed-file="image/*"
                @upload-finished="payload => setMedia( 'slideCover', payload.targetId )"
                @media-dropped="payload => setMedia( 'slideCover', payload, 'image' )"
                @media-remove="payload => resetMedia( 'slideCover' )"
                @media-sidebar-open="mediaSidebar.openContent()"
            />

            <sw-container columns="repeat(3, minmax(0, 1fr))" gap="0 32px">
                
                <sw-select-field 
                    :label="$tc('blurElysiumSlides.slideSettings.slideCoverImage.posY')"
                    :value="viewportSettings.coverImage?.objectPosY ?? defaultViewportValues('center', 'center', 'center')"
                    @change="value => setViewportSetting({key:'coverImage.objectPosY', value: value})" >
                    <option value="top">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.top') }}
                    </option>
                    <option value="center">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.center') }}
                    </option>
                    <option value="Bottom">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.bottom') }}
                    </option>
                </sw-select-field>
                
                <sw-select-field 
                    :label="$tc('blurElysiumSlides.slideSettings.slideCoverImage.posX')"
                    :value="viewportSettings.coverImage?.objectPosX ?? defaultViewportValues('center', 'center', 'center')"
                    @change="value => setViewportSetting({key:'coverImage.objectPosX', value: value})" >
                    <option value="left">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.left') }}
                    </option>
                    <option value="center">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.center') }}
                    </option>
                    <option value="right">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.right') }}
                    </option>
                </sw-select-field>
                
                <sw-select-field 
                    :label="$tc('blurElysiumSlides.slideSettings.slideCoverImage.fit')"
                    :value="viewportSettings.coverImage?.objectFit ?? defaultViewportValues('cover', 'cover', 'cover')"
                    @change="value => setViewportSetting({key:'coverImage.objectFit', value: value})" >
                    <option value="cover">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.fitCover') }}
                    </option>
                    <option value="contain">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.fitContain') }}
                    </option>
                    <option value="auto">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.fitAuto') }}
                    </option>
                </sw-select-field>
            </sw-container>
        </blur-card-section>

        <blur-card-section 
            :last="true">

            <blur-paragraph
                :title="$tc('blurElysiumSlides.slideSettings.slideCoverVideo.title')" 
                :content="$tc('blurElysiumSlides.slideSettings.slideCoverVideo.description')" 
                :style="{
                    marginBottom: '0'
                }" />
        
            <blur-elysium-slide-media-upload 
                :uploadTag="uploadTag.slideCoverVideo"
                :media="slideCoverVideo"
                allowed-file="video/*"
                @upload-finished="payload => setMedia( 'slideCoverVideo', payload.targetId )"
                @media-dropped="payload => setMedia( 'slideCoverVideo', payload, 'video' )"
                @media-remove="payload => resetMedia( 'slideCoverVideo' )"
                @media-sidebar-open="mediaSidebar.openContent()"
            />

            <sw-container columns="repeat(3, minmax(0, 1fr))" gap="0 32px">
                
                <sw-select-field 
                    :label="$tc('blurElysiumSlides.slideSettings.slideCoverVideo.posY')"
                    :value="viewportSettings.coverVideo?.objectPosY ?? defaultViewportValues('center', 'center', 'center')"
                    @change="value => setViewportSetting({key:'coverVideo.objectPosY', value: value})" >
                    <option value="top">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.top') }}
                    </option>
                    <option value="center">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.center') }}
                    </option>
                    <option value="Bottom">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.bottom') }}
                    </option>
                </sw-select-field>
                
                <sw-select-field 
                    :label="$tc('blurElysiumSlides.slideSettings.slideCoverVideo.posX')"
                    :value="viewportSettings.coverVideo?.objectPosX ?? defaultViewportValues('center', 'center', 'center')"
                    @change="value => setViewportSetting({key:'coverVideo.objectPosX', value: value})" >
                    <option value="left">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.left') }}
                    </option>
                    <option value="center">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.center') }}
                    </option>
                    <option value="right">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.right') }}
                    </option>
                </sw-select-field>
                
                <sw-select-field 
                    :label="$tc('blurElysiumSlides.slideSettings.slideCoverVideo.fit')"
                    :value="viewportSettings.coverVideo?.objectFit ?? defaultViewportValues('cover', 'cover', 'cover')"
                    @change="value => setViewportSetting({key:'coverVideo.objectFit', value: value})" >
                    <option value="cover">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.fitCover') }}
                    </option>
                    <option value="contain">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.fitContain') }}
                    </option>
                    <option value="auto">
                        {{ $tc('blurElysiumSlides.slideSettings.display.common.fitAuto') }}
                    </option>
                </sw-select-field>
            </sw-container>
        </blur-card-section>
    </sw-card>

    <sw-card
        :position-identifier="positionIdentifiers.detail.presentationMedia"
        :title="$tc('blurElysiumSlides.slideSettings.presentationMedia.label')">
        
        <sw-container columns="1fr" gap="32px">

            {% block blur_elysium_slides_media_form_presentation_media_upload %}
                <div>
                    <sw-upload-listener
                        :upload-tag="uploadTag.presentationMedia"
                        auto-upload
                        @media-upload-finish="payload => setMedia( 'presentationMedia', payload.targetId )"
                    />
                    <sw-media-upload-v2
                        class="blur-elysium-slides__media-upload"
                        variant="regular"
                        file-accept="image/*"
                        :disabled="!editable"
                        :upload-tag="uploadTag.presentationMedia"
                        :source="presentationMedia"
                        :allow-multi-select="false"
                        :help-text="$tc('BlurElysiumSlides.mediaForm.uploadInput.helpText')"
                        :default-folder="entityName"
                        @media-drop="payload => setMedia( 'presentationMedia', payload, 'image' )"
                        @media-upload-remove-image="payload => resetMedia( 'presentationMedia' )"
                        @media-upload-sidebar-open="mediaSidebar.openContent()"
                    />            
                </div>
            {% endblock %}
        </sw-container>
    </sw-card>
</div>
{% endblock %}
