<div :style="{
        display: 'flex',
        flexDirection: 'column',
        gap: '8px',
        marginBottom: '32px'
    }">

    <slot name="title">
        <component 
            v-if="title"
            is="h4" 
            :style="{
                fontSize: '16px',
                fontWeight: '500',
                margin: '0'
            }">
            
                <span v-html="title" />
        </component>
    </slot>

    <div v-if="content !== false"
        :style="{
            fontSize: '14px',
            lineHeight: '1.5'
        }">
        <slot name="content">
            <span v-html="content" />
        </slot>
    </div>
</div>
