parameters:
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - custom/static-plugins/BlurElysiumSlider/src
    ignoreErrors:
        - # XML config format will be migrated step by step, so we ignore errors for now, see https://github.com/shopware/shopware/issues/13072
            message: '#deprecated class Symfony\\Component\\DependencyInjection\\Loader\\XmlFileLoader#'
