<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_sidebar_layout_assignment %}
    {% parent() %}

    {% block sw_cms_sidebar_blur_section_settings %}
        <sw-sidebar-item
            class="sw-cms-sidebar__elysium-section-settings"
            icon="elysium-cms-sidebar-icon"
            :iconComponent="'blur-elysium-icon-dashboard'"
            :title="elysiumSectionSettingsTitle"
            :disabled="page.locked || !elysiumSectionSettingsActive"
        >
            <blur-elysium-cms-section-settings
                v-if="selectedSection !== null && selectedSection?.customFields?.hasOwnProperty('elysiumSectionSettings')"
                :settings="selectedSection.customFields.elysiumSectionSettings"
            />
            <blur-elysium-cms-section-block-settings
                v-if="selectedBlock !== null && selectedBlock?.customFields?.hasOwnProperty('elysiumBlockSettings')"
                :settings="selectedBlock.customFields.elysiumBlockSettings"
            />
        </sw-sidebar-item>
    {% endblock %}
{% endblock %}
<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_sidebar_block_overview_preview %}
    <div
        :class="[
            currentBlockCategory === 'blur-elysium-blocks' ? 'blur-elysium-blocks__sidebar-track' : null
        ]"
        :style="{
            display: currentBlockCategory === 'blur-elysium-blocks' ? 'block' : 'contents'
        }"
    >
        <mt-banner
            v-if="currentBlockCategory === 'blur-elysium-blocks'"
            variant="info"
            :hideIcon="true"
            class="mt-banner-small"
            :style="{
                margin: '0px',
                padding: '0px',
                border: '0 none',
                borderRadius: '0px',
                textAlign: 'center',
            }"
        >
            <span
                v-html="$tc('blurElysiumSection.sidebar.elysiumSectionNotification')"
            />
        </mt-banner>
        {% parent %}
    </div>
{% endblock %}