.py-base-field {
    display: grid;
    gap: 4px 16px;
    align-items: start;
    grid-template-columns: var(--py-field-cols, minmax(0, 1fr) minmax(0, 2fr));

    &.layout-row {
        --py-field-cols: minmax(0, 1fr);
        --py-field-label-m-block: 0px;
    }

    .mt-field__error {
        color: var(--color-red-700) !important;
        font-size: 13px;
        line-height: 1.5;
        > .mt-icon  {
            display: none !important;
        }
    }

    .mt-field {
        margin-inline: var(--py-field-m-inline, 0px);
        margin-block: var(--py-field-m-block, 0px);

        .mt-field__addition {
            background-color: transparent;
            padding: 6px;
            min-width: auto;
        }

        .mt-block-field__block {
            min-height: auto;
            border-radius: 8px;
        }

        input {
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.5;
            min-height: auto;
        }
    }

    .mt-datepicker__clear-button {
        height: auto;
        padding: 8px;
        border-radius: 99rem;
    }

    .dp--clear-btn {
        padding-right: 0px;
        right: 34px;
    }

    .dp__input_icon {
        height: auto;
        inset: 1px;
        left: auto;
        width: auto;
        transform: none;
        padding: 4px 8px;
        border-radius: 0 8px 8px 0;

        >.mt-icon {
            width: 14px;
            height: 14px;

            >svg {
                width: 100% !important;
                height: 100% !important;
                position: static !important;
                transform: none !important;
            }
        }
    }

    .dp__input_wrap {
        position: relative;
    }

    .dp__input {
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.5;
        min-height: auto;
        height: auto;
        border-radius: 8px;
        padding-inline-end: 64px;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }

    .mt-datepicker__hint {
        display: none;
    }

    .mt-select {

        .mt-select__selection {
            line-height: 1.5;
            padding-inline: 0px;
        }

        .mt-select__select-indicator-hitbox {
            width: 24px;
            height: 24px;
        }
    }

    .mt-number-field__controls {
        flex-direction: row;
        margin: 6px;
        width: auto;

        button {
            display: flex;
            padding: 6px;

            .mt-icon {
                margin-top: auto !important;
            }
        }

        ;
    }

    .mt-colorpicker__previewWrapper {
        border-radius: 20px;
    }
}

.py-slider-field {

    .mt-number-field {
        display: none !important;
    }

    .mt-block-field__block {
        padding: 0 !important;
    }
}

.py-select-popover {

    .mt-select-result-list__content {
        border-radius: 10px;
        padding: 4px;
    }

    .mt-select-result {
        padding: 4px;

        .mt-icon {
            width: 10px !important;
            height: 10px !important;
            margin-right: 8px;
        }
    }
}

.sw-text-editor-toolbar {
    height: auto !important;

    .sw-text-editor-buttons {
        display: flex !important;
        flex-wrap: wrap !important;
    }
}

.py-field {

    &.sw-entity-single-select {

        .sw-entity-single-select__selection-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0px !important;
        }

        .sw-entity-single-select__selection-input {
            padding: 0px !important;
        }

        .sw-select__selection {
            padding: 6px 12px !important;
        }
    }

    .sw-block-field__block {
        border-radius: 8px;
        height: auto;
    }
}