<sw-number-field 
    type="int"
    :step="1"
    :min="0" 
    :value="value"
    @update:value="update"
    @input-change="update">
    <template #label>
        <span 
            :style="{
                display: 'flex',
                alignItems: 'center',
                gap: '8px'
            }">

            <blur-icon 
                v-tooltip="{
                    message: $t('blurElysium.messages.deviceSettingNote', { device: $tc(`blurElysium.device.${device}`) })
                }"
                :size="14"
                :name="`blurph-device-${device}`" 
                :style="{
                    cursor: 'pointer'
                }"
                @click="onDeviceNote" />
            {{$attrs.label}}
        </span>
    </template>
    <template v-if="unit !== false" #suffix>
        {{unit}}
    </template>
    <template #hint>
    </template>
</sw-number-field>