{% block blur_card_section %}
    <div 
        :class="classes">

        <sw-extension-component-section
            v-if="positionIdentifier"
            :position-identifier="`${positionIdentifier}__before`"
        />

        <slot />

        <sw-extension-component-section
            v-if="positionIdentifier"
            :position-identifier="`${positionIdentifier}__after`"
        />
    </div>
{% endblock %}