{% block blur_elysium_slide_select_item %} 
    <div class="blur-es-list-item"
        :style="itemStyle"
        ref="selectItem"
        draggable
        @dragstart="startDrag($event)"
        @dragenter="overDrag($event)">

        <template v-if="slideData && isLoading === false">

            {% block blur_elysium_slide_select_item_silde_container %}
                <div class="blur-es-list-item__slide-container">

                    <div class="blur-es-list-item__name-tag">
                        {{slideData.name}}
                    </div>

                    {% block blur_elysium_slide_select_item_silde_content %} 
                        <div class="blur-es-list-item__slide-content">
                            <div>
                                <div class="blur-es-list-item__slide-headline">
                                    {{slideData.title.replace(/<\/?[^>]+>/ig, " ")}}
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
            
            {% block blur_elysium_slide_select_item_silde_actions %}
                <div class="blur-es-list-item__slide-actions">
                    {% block blur_elysium_slide_select_item_silde_action_position_up %}
                        <sw-button 
                            class="blur-es-list-item__icon-button"
                            :disabled="false" 
                            :isLoading="isLoading"
                            @click="positionUp">
                            <sw-icon name="regular-chevron-up" size="16" color="#5a5a5a"></sw-icon>
                        </sw-button>
                    {% endblock %}

                    {% block blur_elysium_slide_select_item_silde_action_position_down %}
                        <sw-button 
                            class="blur-es-list-item__icon-button" 
                            :disabled="false" 
                            :isLoading="isLoading"
                            @click="positionDown">
                            <sw-icon name="regular-chevron-down" size="16" color="#5a5a5a"></sw-icon>
                        </sw-button>
                    {% endblock %}

                    {% block blur_elysium_slide_select_item_silde_edit %}
                        <sw-button 
                            class="blur-es-list-item__icon-button"
                            :disabled="false" 
                            :isLoading="isLoading"
                            @click="editSlide">
                            <sw-icon name="regular-file-edit" size="16" color="#189eff"></sw-icon>
                        </sw-button>
                    {% endblock %}

                    {% block blur_elysium_slide_select_item_silde_action_remove %}
                        <sw-button 
                            class="blur-es-list-item__icon-button"
                            :disabled="false" 
                            :isLoading="isLoading"
                            @click="removeSlide">
                            <sw-icon name="regular-trash" size="16" color="#eb657d"></sw-icon>
                        </sw-button>
                    {% endblock %}
                </div>
            {% endblock %}
        </template>
    </div>
{% endblock %}