{% block blur_elysium_slide_select_item %} 
    <div class="blur-es-list-item"
        ref="selectItem"
        draggable
        @dragstart="startDrag($event)"
        @dragenter="overDrag($event)">

        <template v-if="slideData && isLoading === false">

            {% block blur_elysium_slide_select_item_silde_container %}
                <div class="blur-es-list-item__slide-container">

                    {% block blur_elysium_slide_select_item_silde_image %}
                        <div v-if="slideMedia !== null" 
                            class="blur-es-list-item__slide-image">

                            <img v-if="allowedImageExtension.includes(slideMedia.fileExtension)"
                                :src="slideMedia.url" 
                                :alt="slideData.title"
                                class="blur-es-list-item__slide-image-element">
                            <div v-else-if="allowedVideoExtension.includes(slideMedia.fileExtension)" >
                                <sw-icon name="regular-play" color="#aaaaaa"></sw-icon>
                            </div>
                        </div>
                    {% endblock %}

                    {% block blur_elysium_slide_select_item_silde_content %} 
                        <div class="blur-es-list-item__slide-content">
                            <div>
                                {{slideData.name}}
                            </div>
                            <div style="font-size: 1rem;">
                                {{slideData.title}}
                            </div>
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
            
            {% block blur_elysium_slide_select_item_silde_actions %}
                <div class="blur-es-list-item__slide-actions">
                    {% block blur_elysium_slide_select_item_silde_action_position_up %}
                        <sw-button 
                            class="blur-es-list-item__icon-button"
                            variant="context"
                            :disabled="false" 
                            :isLoading="isLoading"
                            @click="positionUp">
                            <sw-icon name="regular-chevron-up" size="18" color="#5a5a5a"></sw-icon>
                        </sw-button>
                    {% endblock %}

                    {% block blur_elysium_slide_select_item_silde_action_position_down %}
                        <sw-button 
                            class="blur-es-list-item__icon-button" 
                            variant="context"
                            :disabled="false" 
                            :isLoading="isLoading"
                            @click="positionDown">
                            <sw-icon name="regular-chevron-down" size="18" color="#5a5a5a"></sw-icon>
                        </sw-button>
                    {% endblock %}

                    {% block blur_elysium_slide_select_item_silde_action_remove %}
                        <sw-button 
                            class="blur-es-list-item__icon-button"
                            variant="context"
                            :disabled="false" 
                            :isLoading="isLoading"
                            @click="removeSlide">
                            <sw-icon name="regular-trash" size="16" color="#eb657d"></sw-icon>
                        </sw-button>
                    {% endblock %}
                </div>
            {% endblock %}
        </template>
    </div>
{% endblock %}