.blur-es-list-item {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: minmax(0, 1fr) auto;
    border: 2px solid #eeeeee;
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.5;
    align-items: flex-start;
    padding: 10px;
    border-radius: 12px;
    font-size: .875rem;
    transition: border-color .3s, box-shadow .3s;

    &:hover {
        border-color: #189eff;
        box-shadow: 0 0 4px #b1deff;
    }

    &.is-dragged {
        display: none;
    }

    &.is-leaving {
        display: block;
    }
}

.blur-es-list-item__name-tag {
    display: inline-flex;
    background-color: #ffff;
    border-radius: 10rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 5px 15px;
    line-height: 1.286;
}

.blur-es-list-item__slide-headline {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}

.blur-es-list-item__slide-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.blur-es-list-item__slide-image {
    flex: 0 1 auto;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blur-es-list-item__slide-image-element {
    width: 50px;
    height: 50px;
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.blur-es-list-item__slide-content {
    flex: 1 1 100%;
    width: 100%;
    padding: 1rem;
}

.blur-es-list-item__slide-actions {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;

    @media screen and (min-width:769px) {
        flex-direction: row;
    }
}

.blur-es-list-item__icon-button {
    padding: 6px;
    background-color: #ffffff;
    border-color: #dddddd;
    border-radius: 10rem;
}

.blur-es-list-item__slide-labels {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.blur-es-list-item__drag-bullet {
    display: flex;
    background-color: white;
    line-height: 1;
    border-radius: 10rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 8px;
    cursor: pointer;
}