{% block blur_cms_block_elysium_slider_preview %}
    <div class="sw-cms-preview-blur-elysium-slider-block">

        {% block blur_cms_block_elysium_slider_preview %}
            <img class="sw-cms-preview-blur-elysium-slider-block__preview-image blur-cms-element-preview-image" 
                :src="'blurelysiumslider/static/img/cms-slider-element-preview.svg' | asset">
        {% endblock %}
    </div>
{% endblock %}