{% block blur_cms_config_elysium_slider %}
    <div class="sw-cms-el-config-blur-elysium-slider">

        {% block blur_cms_config_elysium_slider_tabs %}
            <sw-tabs default-item="content">

                {% block blur_cms_config_elysium_slider_tabs_navigation %}
                    <template slot-scope="{ active }">

                        {% block blur_cms_config_elysium_slider_tabs_navigation_item_content %}
                            <sw-tabs-item
                                name="content"
                                :active-tab="active">
                                {{ $tc('blurElysiumSlider.cmsElement.config.tabs.content') }}
                            </sw-tabs-item>                            
                        {% endblock %}

                        {% block blur_cms_config_elysium_slider_tabs_navigation_item_setting %}
                            <sw-tabs-item
                                name="setting"
                                :active-tab="active">
                                {{ $tc('blurElysiumSlider.cmsElement.config.tabs.settings') }}
                            </sw-tabs-item>                            
                        {% endblock %}

                        {% block blur_cms_config_elysium_slider_tabs_navigation_item_styling %}
                            <sw-tabs-item
                                name="styling"
                                :active-tab="active">
                                {{ $tc('blurElysiumSlider.cmsElement.config.tabs.styling') }}
                            </sw-tabs-item>                            
                        {% endblock %}

                    </template>                    
                {% endblock %}

                {% block blur_cms_config_elysium_slider_tabs_container %}
                    <template
                        slot="content"
                        slot-scope="{ active }">

                        {% block blur_cms_config_elysium_slider_content %}
                            <template v-if="active === 'content'">

                                {% block blur_cms_config_elysium_slider_card_slide_collection %}
                                    <sw-card 
                                        :title="$tc('blurElysiumSlider.cmsElement.settings.slideCollectionTitle')" 
                                        class="bc-card bc-card__static-title">

                                        {% block blur_cms_config_elysium_slider_collection %}
                                            <sw-entity-multi-id-select
                                                v-model="elysiumSlideCollection"
                                                class="bc-field__no-margin bc-field__px-1"
                                                :repository="elysiumSlidesRepository"
                                                :label="$tc('blurElysiumSlider.cmsElement.config.slidesSelect.label')"
                                                :placeholder="$tc('blurElysiumSlider.cmsElement.config.slidesSelect.placeholder')"
                                                @change="onChange" />
                                        {% endblock %}
                                    </sw-card>
                                {% endblock %}

                            </template>
                        {% endblock %}

                        {% block blur_cms_config_elysium_slider_setting %}
                            <template v-if="active === 'setting'">

                                {% block blur_cms_config_elysium_slider_card_general %}
                                    <sw-card 
                                        :title="$tc('blurElysiumSlider.cmsElement.settings.generalTitle')" 
                                        class="bc-card bc-card__static-title">

                                        <sw-container columns="1fr 1fr" gap="0 2rem">

                                            <div>

                                                {% block blur_cms_config_elysium_slider_navigation %}
                                                    <sw-switch-field 
                                                        :label="$tc('blurElysiumSlider.cmsElement.config.sliderNavigation.label')" 
                                                        v-model="element.config.sliderNavigation.value"
                                                        class="bc-field__no-margin">
                                                    </sw-switch-field>                                                
                                                {% endblock %}

                                                {% block blur_cms_config_elysium_slider_overlay %}
                                                    <sw-switch-field 
                                                        :label="$tc('blurElysiumSlider.cmsElement.config.sliderOverlay.label')"
                                                        v-model="element.config.sliderOverlay.value"
                                                        class="bc-field__no-margin">
                                                    </sw-switch-field>
                                                {% endblock %}

                                                {% block blur_cms_config_elysium_slider_image_flow_mode %}
                                                    <sw-switch-field 
                                                        :help-text="$tc('blurElysiumSlider.cmsElement.config.imageFlowMode.helpText')"
                                                        :label="$tc('blurElysiumSlider.cmsElement.config.imageFlowMode.label')"
                                                        v-model="element.config.imageFlowMode.value"
                                                        class="bc-field__no-margin bc-field__inline-helptext bc-helptext__color-light">
                                                    </sw-switch-field>
                                                {% endblock %}
                                            </div>

                                            <div>

                                                {% block blur_cms_config_elysium_slider_speed %}
                                                    <sw-number-field 
                                                        numberType="int" 
                                                        v-model="element.config.slideSpeed.value"
                                                        class="bc-field__no-margin bc-field__px-1"
                                                        :label="$tc('blurElysiumSlider.cmsElement.config.slideSpeed.label')"
                                                        :placeholder="$tc('blurElysiumSlider.cmsElement.config.slideSpeed.placeholder')"
                                                        :step="null" 
                                                        :min="null" 
                                                        :max="null" 
                                                        :digits="null"
                                                        :allowEmpty="false">
                                                    </sw-number-field>                                        
                                                {% endblock %}
                                            </div>

                                        </sw-container>
                                    </sw-card>
                                {% endblock %}

                                {% block blur_cms_config_elysium_slider_card_autoplay %}
                                    <sw-card 
                                        :title="$tc('blurElysiumSlider.cmsElement.settings.autoplayTitle')" 
                                        class="bc-card bc-card__static-title">

                                        <sw-container columns="1fr 1fr" gap="0 2rem">

                                            {% block blur_cms_config_elysium_slider_autoplay %}
                                                <sw-switch-field 
                                                    :label="$tc('blurElysiumSlider.cmsElement.config.sliderAutoplay.label')" 
                                                    v-model="element.config.sliderAutoplay.value"
                                                    class="bc-field__no-margin">
                                                </sw-switch-field>
                                            {% endblock %}

                                            {% block blur_cms_config_elysium_slider_autoplay_timeout %}
                                                <sw-number-field 
                                                    numberType="int" 
                                                    v-model="element.config.sliderAutoplayTimeout.value"
                                                    class="bc-field__no-margin bc-field__px-1"
                                                    :label="$tc('blurElysiumSlider.cmsElement.config.sliderAutoplayTimeout.label')"
                                                    :placeholder="$tc('blurElysiumSlider.cmsElement.config.sliderAutoplayTimeout.placeholder')"
                                                    :step="null" 
                                                    :min="3000" 
                                                    :max="null" 
                                                    :digits="null"
                                                    :allowEmpty="false">
                                                </sw-number-field>
                                            {% endblock %}
                                        </sw-container>
                                    </sw-card>
                                {% endblock %}

                            </template>
                        {% endblock %}

                        {% block blur_cms_config_elysium_slider_styling %}
                            <template v-if="active === 'styling'">

                                {% block blur_cms_config_elysium_slider_card_arrow_styling %}
                                    <sw-card 
                                        :title="$tc('blurElysiumSlider.cmsElement.settings.arrowStylingTitle')" 
                                        class="bc-card bc-card__static-title">

                                        <sw-container columns="1fr 1fr" gap="0 2rem">

                                            {% block blur_cms_config_elysium_slider_arrow_color %}
                                                <sw-colorpicker 
                                                    v-model="element.config.sliderArrowColor.value"
                                                    colorOutput="auto"
                                                    :label="$tc('blurElysiumSlider.cmsElement.config.sliderArrowColor.label')"
                                                    :alpha="true"
                                                    :disabled="false"
                                                    :colorLabels="true"
                                                    zIndex="1010">
                                                </sw-colorpicker>
                                            {% endblock %}

                                        </sw-container>

                                    </sw-card>
                                {% endblock %}

                                {% block blur_cms_config_elysium_slider_card_navigation_styling %}
                                    <sw-card 
                                        :title="$tc('blurElysiumSlider.cmsElement.settings.navigationStylingTitle')" 
                                        class="bc-card bc-card__static-title">

                                        <sw-container columns="1fr 1fr" gap="0 2rem">

                                            {% block blur_cms_config_elysium_slider_dot_color %}
                                                <sw-colorpicker 
                                                    v-model="element.config.sliderDotColor.value"
                                                    colorOutput="auto"
                                                    :label="$tc('blurElysiumSlider.cmsElement.config.sliderDotColor.label')"
                                                    :alpha="true"
                                                    :disabled="false"
                                                    :colorLabels="true"
                                                    zIndex="1010">
                                                </sw-colorpicker>
                                            {% endblock %}

                                            {% block blur_cms_config_elysium_slider_dot_active_color %}
                                                <sw-colorpicker 
                                                    v-model="element.config.sliderDotActiveColor.value"
                                                    colorOutput="auto"
                                                    :label="$tc('blurElysiumSlider.cmsElement.config.sliderDotActiveColor.label')"
                                                    :alpha="true"
                                                    :disabled="false"
                                                    :colorLabels="true"
                                                    zIndex="1010">
                                                </sw-colorpicker>
                                            {% endblock %}

                                        </sw-container>

                                    </sw-card>
                                {% endblock %}

                            </template>
                        {% endblock %}

                    </template>                    
                {% endblock %}


            </sw-tabs>            
        {% endblock %}

    </div>
{% endblock %}