{% block blur_cms_config_elysium_slider %}
    <div class="sw-cms-el-config-blur-elysium-slider">

        {% block blur_cms_config_elysium_slider_tabs %}
            <sw-tabs 
                :position-identifier="positionIdentifiers.tabs"
                default-item="content">

                {% block blur_cms_config_elysium_slider_tabs_navigation %}
                    <template slot-scope="{ active }">

                        {% block blur_cms_config_elysium_slider_tabs_navigation_item_content %}
                            <sw-tabs-item
                                name="content"
                                :active-tab="active">
                                {{ $tc('blurElysiumSlider.config.content') }}
                            </sw-tabs-item>                            
                        {% endblock %}

                        {% block blur_cms_config_elysium_slider_tabs_navigation_item_settings %}
                            <sw-tabs-item
                                name="settings"
                                :active-tab="active">
                                {{ $tc('blurElysiumSlider.config.settings.label') }}
                            </sw-tabs-item>                            
                        {% endblock %}

                        {% block blur_cms_config_elysium_slider_tabs_navigation_item_sizing %}
                            <sw-tabs-item
                                name="sizing"
                                :active-tab="active">
                                {{ $tc('blurElysiumSlider.config.sizing.label') }}
                            </sw-tabs-item>                            
                        {% endblock %}

                        {% block blur_cms_config_elysium_slider_tabs_navigation_item_navigation %}
                            <sw-tabs-item
                                name="navigation"
                                :active-tab="active">
                                {{ $tc('blurElysiumSlider.config.navigation.label') }}
                            </sw-tabs-item>                            
                        {% endblock %}

                        {% block blur_cms_config_elysium_slider_tabs_navigation_item_arrows %}
                            <sw-tabs-item
                                name="arrows"
                                :active-tab="active">
                                {{ $tc('blurElysiumSlider.config.arrows.label') }}
                            </sw-tabs-item>                            
                        {% endblock %}

                    </template>                    
                {% endblock %}

                {% block blur_cms_config_elysium_slider_tabs_container %}
                    <template
                        slot="content"
                        slot-scope="{ active }">

                        {% block blur_cms_config_elysium_slider_tabs_device_switch %}
                            <blur-elysium-device-switch 
                                layout="default" 
                                default-viewport="desktop"
                                :show-labels="false"
                                :gap="20"
                                :style="{
                                    marginBottom: '20px'
                                }"
                                @change-viewport="onChangeViewport" />
                        {% endblock %}

                        {% block blur_cms_config_elysium_slider_content %}
                            <template v-if="active === 'content'">

                                <sw-card
                                    :position-identifier="positionIdentifiers.content.DEFAULT">

                                    {% block blur_cms_config_elysium_slider_content_general %}
                                        <blur-card-section 
                                            :position-identifier="positionIdentifiers.content.sectionGeneral">

                                            {% block blur_cms_config_elysium_slider_title %}
                                                <sw-text-field 
                                                    v-model="element.config.content.value.title" 
                                                    :label="$tc('blurElysiumSlider.config.sliderTitle.label')" />
                                            {% endblock %}

                                        </blur-card-section>
                                    {% endblock %}

                                    {% block blur_cms_config_elysium_slider_card_slide_collection %}
                                        <blur-card-section 
                                            :last="true"
                                            :position-identifier="positionIdentifiers.content.sectionSlideSelection">

                                            <blur-paragraph 
                                                :title="$tc('blurElysiumSlider.cmsElement.settings.slideCollectionTitle')"
                                                />

                                            {% block blur_cms_config_elysium_slider_no_slides_dialogue %}
                                                <template v-if="blurElysiumSlides && blurElysiumSlides.length === 0">
                                                    <div class="blur-elysium-slider-config__no-slides">
                                                        <p style="margin-bottom:1rem;line-height:1.5;">
                                                            {{ $tc( 'blurElysiumSlides.slideSelection.message.noSlides' ) }}
                                                        </p>
                                                        <div class="blur-elysium-slider-config__no-slides-actions">
                                                            <sw-button
                                                                variant="primary"
                                                                @click="onCreateSlide">
                                                                {{ $tc( 'blurElysiumSlides.actions.createSlide' ) }}
                                                            </sw-button>
                                                            <sw-button
                                                                @click="onSlideOverview">
                                                                {{ $tc( 'blurElysiumSlides.actions.toOverview' ) }}
                                                            </sw-button>
                                                        </div>
                                                    </div>
                                                </template>
                                            {% endblock %}

                                            {% block blur_cms_config_elysium_slide_selection_component %}
                                                <blur-elysium-slide-selection 
                                                    :selected-slides="selectedSlides" />
                                            {% endblock %}
                                        </blur-card-section>
                                    {% endblock %}
                                </sw-card>
                            </template>
                        {% endblock %}

                        {% block blur_cms_config_elysium_slider_settings %}
                            <template v-if="active === 'settings'">
                                <blur-elysium-slider-config-settings 
                                    :config="element.config.settings.value" 
                                    :currentViewport="activeViewport" />
                            </template>
                        {% endblock %}

                        {% block blur_cms_config_elysium_slider_sizing %}
                            <template v-if="active === 'sizing'">
                                <blur-elysium-slider-config-sizing 
                                    :config="element.config.sizing.value"
                                    :currentViewport="activeViewport" />
                            </template>
                        {% endblock %}

                        {% block blur_cms_config_elysium_slider_navigation %}
                            <template v-if="active === 'navigation'">
                                <blur-elysium-slider-config-navigation
                                    :config="element.config.navigation.value"
                                    :currentViewport="activeViewport" />
                            </template>
                        {% endblock %}

                        {% block blur_cms_config_elysium_slider_arrows %}
                            <template v-if="active === 'arrows'">
                                <blur-elysium-slider-config-arrows
                                    :config="element.config.arrows.value" 
                                    :currentViewport="activeViewport" />
                            </template>
                        {% endblock %}

                    </template>                    
                {% endblock %}


            </sw-tabs>            
        {% endblock %}

    </div>
{% endblock %}