<div :class="[
        'blur-card-section',
        last === true ? 'is-last' : null
    ]">

    <div :class="['blur-card-section-header']"
        v-if="title || description">

        <div :class="['blur-card-section-title']"
            v-if="title">

            <blur-icon
                v-if="titleIcon"
                :name="titleIcon"
                :size="18" 
                color="#189eff" />

            <span v-html="title" />
        </div>

        <div :class="['blur-card-section-description']"
            v-if="description"
            v-html="description" />
    </div>

    <div :class="['blur-card-section-content']">
        <slot />
    </div>
</div>