{% block blur_elysium_slides_content_container_card %}
    <sw-card
        :position-identifier="positionIdentifiers.detail.display.content"
        :title="$tc('BlurElysiumSlides.appearance.contentGeneral.title')"
        :is-loading="isLoading"
        v-if="!isLoading && slide.slideSettings"
    >

        <div>
            {% block blur_elysium_slides_setting_container_vertical_align %}
                <sw-select-field 
                    v-if="slide.slideSettings"
                    v-model="slide.slideSettings.contentVerticalAlign"
                    class="bc__my-0"
                    :label="$tc('BlurElysiumSlides.appearance.contentGeneral.contentVerticalAlign.label')">
                    <option value="left">{{ $tc('BlurElysiumSlides.appearance.contentGeneral.contentVerticalAlign.options.left') }}</option>
                    <option value="center">{{ $tc('BlurElysiumSlides.appearance.contentGeneral.contentVerticalAlign.options.center') }}</option>
                    <option value="right">{{ $tc('BlurElysiumSlides.appearance.contentGeneral.contentVerticalAlign.options.right') }}</option>
                </sw-select-field>
            {% endblock %}
        </div>
    </sw-card>
{% endblock %}
