{% block blur_elysium_slider_config_settings %}
    <sw-card
        :position-identifier="positionIdentifiers.settings.DEFAULT">

        {% block blur_cms_config_elysium_slider_settings_general %}
            <blur-card-section
                :position-identifier="positionIdentifiers.settings.sectionGeneral">

                <blur-paragraph
                    :title="$tc('blurElysiumSlider.config.settings.general')"
                    />

                <sw-container columns="1fr 1fr" gap="24px">

                    {% block blur_cms_config_elysium_slider_rewind %}
                        <sw-switch-field 
                            :label="$tc('blurElysiumSlider.config.settings.rewind')"
                            v-model="settingsConfig.rewind">
                        </sw-switch-field>
                    {% endblock %}

                    {% block blur_cms_config_elysium_slider_overlay %}
                        <sw-switch-field 
                            :label="$tc('blurElysiumSlider.config.settings.overlay')"
                            v-model="settingsConfig.overlay">
                        </sw-switch-field>
                    {% endblock %}

                    {% block blur_cms_config_elysium_slider_slides_per_page %}
                        <sw-number-field 
                            v-model="settingsViewportConfig.slidesPerPage"
                            numberType="int" 
                            :label="$tc('blurElysiumSlider.config.settings.slidesPerPage.label')"
                            :placeholder="$tc('blurElysiumSlider.config.settings.slidesPerPage.placeholder')"
                            :step="1" 
                            :min="1"
                            :digits="null"
                            :allowEmpty="false">
                            <template #hint><blur-elysium-device-hint /></template>
                        </sw-number-field>
                    {% endblock %}

                    {% block blur_cms_config_elysium_slider_speed %}
                        <sw-number-field 
                            numberType="int" 
                            v-model="settingsConfig.speed"
                            :label="$tc('blurElysiumSlider.config.settings.speed.label')"
                            :placeholder="$tc('blurElysiumSlider.config.settings.speed.placeholder')"
                            :step="null" 
                            :min="null" 
                            :max="null" 
                            :digits="null"
                            :allowEmpty="false">
                            <template #suffix>ms</template>
                        </sw-number-field>                                        
                    {% endblock %}

                    {% block blur_cms_config_elysium_slider_container_width %}
                        <sw-select-field
                            :value="settingsConfig.containerWidth"
                            v-model="settingsConfig.containerWidth"
                            :label="$tc('blurElysiumSlider.config.settings.containerWidth.label')"
                            :help-text="$tc('blurElysiumSlider.config.settings.containerWidth.helpText')"
                        >
                            <option value="content">{{$tc('blurElysiumSlider.config.settings.containerWidth.content')}}</option>
                            <option value="full">{{$tc('blurElysiumSlider.config.settings.containerWidth.full')}}</option>
                        </sw-select-field>
                    {% endblock %}
                </sw-container>
            </blur-card-section>
        {% endblock %}

        {% block blur_cms_config_elysium_slider_settings_autoplay %}
            <blur-card-section
                :last="true"
                :position-identifier="positionIdentifiers.settings.sectionAutoplay">

                <blur-paragraph
                    :title="$tc('blurElysiumSlider.config.settings.autoplay.label')"
                    />

                <sw-container columns="1fr 1fr" gap="24px">

                    {% block blur_cms_config_elysium_slider_autoplay_active %}
                        <sw-switch-field 
                            :label="$tc('blurElysiumSlider.config.settings.autoplay.active')" 
                            v-model="settingsConfig.autoplay.active">
                        </sw-switch-field>
                    {% endblock %}

                    {% block blur_cms_config_elysium_slider_autoplay_pause_on_hover %}
                        <sw-switch-field 
                            :label="$tc('blurElysiumSlider.config.settings.autoplay.pauseOnHover')" 
                            v-model="settingsConfig.autoplay.pauseOnHover">
                        </sw-switch-field>
                    {% endblock %}

                    {% block blur_cms_config_elysium_slider_autoplay_timeout %}
                        <sw-number-field 
                            numberType="int" 
                            v-model="settingsConfig.autoplay.interval"
                            :label="$tc('blurElysiumSlider.config.settings.autoplay.interval.label')"
                            :placeholder="$tc('blurElysiumSlider.config.settings.autoplay.interval.placeholder')"
                            :step="null" 
                            :min="3000" 
                            :max="null" 
                            :digits="null"
                            :allowEmpty="false">
                            <template #suffix>ms</template>
                        </sw-number-field>
                    {% endblock %}
                </sw-container>
            </blur-card-section>
        {% endblock %}
    </sw-card>
{% endblock %}