{% block cms_element_blur_elysium_slide_url_overlay %}
    {% if slide.slideSettings.urlOverlay is same as( true ) and slide.translated.url %}
        <a href="{{ slide.translated.url }}" 
            class="cms-element-elysium-slide__url-overlay"
            title="{{ slide.translated.title|striptags }}" 
            class="btn btn-light cms-element-elysium-slide__cta-button"
            {% if slide.slideSettings.urlTarget == "external" %}
                target="_blank"
                rel="noopener"
            {% endif %}>{{ slide.translated.title|striptags }}</a>
    {% endif %}
{% endblock %}