{% set containerClasses = [
    'blur-elysium-slide-container',
    'd-grid',
] %}

<div class="{{ containerClasses|join(' ') }}">
    {% sw_include '@Storefront/storefront/component/blur-elysium-slide/default/content.html.twig' %}
    {% if slideData.presentationMedia %}
        {% sw_include '@Storefront/storefront/component/blur-elysium-slide/default/image.html.twig' %}
    {% endif %}
</div>