{% set slideClasses = [
    'blur-elysium-slide',
    'd-flex'
] %}

{% if slideData is null %}
    <div class="{{ slideClasses|join(' ') }}">
        No slide data
    </div>
{% else %}
    <div class="{{ slideClasses|join(' ') }}{% if slideData.slideSettings.slideCssClass %} {{ slideData.slideSettings.slideCssClass }}{% endif %}"
        data-elysium-slide-id="{{ slideData.id }}">
        
        {% block cms_element_blur_elysium_banner_style %}
            {% sw_include '@Storefront/storefront/component/blur-elysium-slide/default/style.html.twig' with {
                slideStyles: {
                    '--bg-color': slideData.slideSettings.slide.bgColor,
                    '--gradient-color-start': slideData.slideSettings.slide.bgGradient.startColor,
                    '--gradient-color-end': slideData.slideSettings.slide.bgGradient.endColor,
                    '--gradient-deg': slideData.slideSettings.slide.bgGradient.gradientDeg ? slideData.slideSettings.slide.bgGradient.gradientDeg ~ 'deg' : null
                },
                slideViewportStyles: slideData.slideSettings.viewports,
                slideCover: slideData.media,
                slideCoverPortrait: slideData.mediaPortrait
            } %}
        {% endblock %}

        {% block cms_element_blur_elysium_banner_container %}
            {% sw_include '@Storefront/storefront/component/blur-elysium-slide/default/container.html.twig' %}
        {% endblock %}
    </div>
{% endif %}
