{% block blur_elysium_slides_list_view %}
    <sw-page class="blur-slysium-slides-list__page">

        {% block blur_elysium_slides_list_view_search_bar %}
            <template slot="search-bar">
                <sw-search-bar
                    initial-search-type="blur_elysium_slides"
                    :initial-search="term"
                    @search="onSearch"
                />
            </template>
        {% endblock %}

        {% block blur_elysium_slides_list_view_smart_bar_header %}
            <template slot="smart-bar-header">
                <div class="smart-bar-header__title-container">

                    {% block blur_elysium_slides_list_view_smart_bar_header_icon %}
                        <sw-icon name="default-tools-ruler-pencil" color="#d35400"></sw-icon>
                    {% endblock %}

                    {% block blur_elysium_slides_list_view_smart_bar_header_title %}
                        <h2 class="smart-bar-header__title">
                            {{ $tc('BlurElysiumSlides.entityLabel') }}

                            {% block blur_elysium_slides_list_view_smart_bar_header_amount %}
                                <span
                                    v-if="!isLoading"
                                    class="sw-page__smart-bar-amount"
                                >
                                    ({{ total }})
                                </span>
                            {% endblock %}
                        </h2>
                    {% endblock %}
                </div>
            </template>
        {% endblock %}

        {% block blur_elysium_slides_list_view_smart_bar_actions %}
            <template #smart-bar-actions>

                {% block blur_elysium_slides_list_view_smart_bar_action_add %}
                    <sw-button
                        v-tooltip="{
                            message: $tc('sw-privileges.tooltip.warning'),
                            disabled: acl.can('blur_elysium_slides.creator'),
                            showOnDisabledElements: true
                        }"
                        variant="primary"
                        :disabled="!acl.can('blur_elysium_slides.creator')"
                        :router-link="{ name: 'blur.elysium.slides.create' }"
                    >
                        {{ $tc('BlurElysiumSlides.actions.createSlide') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        {% block blur_elysium_slides_list_view_language_switch %}
            <template #language-switch>
                <sw-language-switch @on-change="onChangeLanguage" />
            </template>
        {% endblock %}

        <template #content>

            {% block blur_elysium_slides_list_view_content %}
                <div class="sw-customer-list__content">

                    {% block blur_elysium_slides_list_view_grid %}
                        <template v-if="blur_elysium_slides !== null && blur_elysium_slides.length > 0">

                            <sw-entity-listing
                                v-if="blur_elysium_slides"
                                class="sw-customer-list-grid"
                                identifier="blur-elysium-slides-list"
                                :items="blur_elysium_slides"
                                :columns="elysiumSlidesColumns"
                                :repository="elysiumSlidesRepository"
                                :sort-by="sortBy"
                                :sort-direction="sortDirection"
                                detail-route="blur.elysium.slides.index"
                                :show-selection="acl.can('blur_elysium_slides.deleter')"
                                :allow-inline-edit="acl.can('blur_elysium_slides.editor')"
                                :is-loading="isLoading"
                                :disable-data-fetching="true"
                                @selection-change="updateSelection"
                                @inline-edit-save="onInlineEditSave"
                                @page-change="onPageChange" 
                                @column-sort="onSortColumn" 
                            >

                                <template #actions="{ item }">

                                    {% block blur_elysium_slides_list_view_grid_action_edit %}
                                        <sw-context-menu-item
                                            class="sw-customer-list__edit-action"
                                            :disabled="!acl.can('blur_elysium_slides.editor')"
                                            :router-link="{ name: 'blur.elysium.slides.detail', params: { id: item.id }, query: { edit: true } }"
                                        >
                                            {{ $tc('sw-customer.list.contextMenuEdit') }}
                                        </sw-context-menu-item>
                                    {% endblock %}

                                    {% block blur_elysium_slides_list_view_grid_action_delete %}
                                        <sw-context-menu-item
                                            class="sw-customer-list__delete-action"
                                            variant="danger"
                                            :disabled="!acl.can('blur_elysium_slides.deleter')"
                                            @click="onDelete(item.id)"
                                        >
                                            {{ $tc('sw-customer.list.contextMenuDelete') }}
                                        </sw-context-menu-item>
                                    {% endblock %}
                                </template>

                                <template #action-modals="{ item }">

                                    {% block blur_elysium_slides_list_view_modal_delete %}
                                        <sw-modal
                                            v-if="showDeleteModal === item.id"
                                            :title="$tc('global.default.warning')"
                                            variant="small"
                                            @modal-close="onCloseDeleteModal"
                                        >

                                            {% block blur_elysium_slides_list_view_modal_delete_text %}
                                                <p class="sw-customer-list__confirm-delete-text">
                                                    {{ $tc('sw-customer.list.textDeleteConfirm', 0, { name: `${item.firstName} ${item.lastName}` }) }}
                                                </p>
                                            {% endblock %}

                                            {% block blur_elysium_slides_list_view_modal_delete_footer %}
                                                <template #modal-footer>

                                                    {% block blur_elysium_slides_list_view_modal_delete_action_cancel %}
                                                        <sw-button
                                                            size="small"
                                                            @click="onCloseDeleteModal"
                                                        >
                                                            {{ $tc('sw-customer.list.buttonCancel') }}
                                                        </sw-button>
                                                    {% endblock %}

                                                    {% block blur_elysium_slides_list_view_modal_delete_action_delete %}
                                                        <sw-button
                                                            variant="danger"
                                                            size="small"
                                                            @click="onConfirmDelete(item.id)"
                                                        >
                                                            {{ $tc('sw-customer.list.buttonDelete') }}
                                                        </sw-button>
                                                    {% endblock %}
                                                </template>
                                            {% endblock %}
                                        </sw-modal>
                                    {% endblock %}
                                </template>

                                {% block blur_elysium_slides_list_view_pagination %}
                                    <template #pagination>
                                        <sw-pagination
                                            :page="page"
                                            :limit="limit"
                                            :total="total"
                                            :total-visible="7"
                                            @page-change="onPageChange"
                                        />
                                    </template>
                                {% endblock %}
                            </sw-entity-listing>
                        </template>
                    {% endblock %}

                    {% block blur_elysium_slides_list_view_empty_state %}
                        <template v-if="!isLoading && !total">
                            <sw-empty-state
                                v-if="filterCriteria.length"
                                :title="$tc('sw-customer.filter.messageEmptyTitle')"
                                :subline="$tc('sw-customer.filter.messageEmptySubline')"
                            />
                            <sw-empty-state
                                v-else
                                :title="$tc('BlurElysiumSlides.messages.emptySlidesTitle')"
                            />
                        </template>
                    {% endblock %}
                </div>
            {% endblock %}
        </template>

    </sw-page>
{% endblock %}