{% block blur_elysium_slides_list_view %}
    <sw-page class="blur-slysium-slides-list__page">

        {% block blur_elysium_slides_list_view_search_bar %}
            <template slot="search-bar">
                <sw-search-bar
                    initial-search-type="blur_elysium_slides"
                    :initial-search="term"
                    @search="onSearch"
                />
            </template>
        {% endblock %}

        {% block blur_elysium_slides_list_view_smart_bar_header %}
            <template slot="smart-bar-header">
                <div class="smart-bar-header__title-container"
                    :style="{
                        gap: '16px'
                    }">

                    {% block blur_elysium_slides_list_view_smart_bar_header_icon %}
                        <blur-elysium-icon 
                            color="#e868a1"
                            :size="20" />
                    {% endblock %}

                    {% block blur_elysium_slides_list_view_smart_bar_header_title %}
                        <h2 class="smart-bar-header__title">

                            {{ $tc('BlurElysiumSlides.entityLabel') }}

                            {% block blur_elysium_slides_list_view_smart_bar_header_amount %}
                                <span
                                    v-if="!isLoading"
                                    class="sw-page__smart-bar-amount"
                                >
                                    ({{ total }})
                                </span>
                            {% endblock %}
                        </h2>
                    {% endblock %}
                </div>
            </template>
        {% endblock %}

        {% block blur_elysium_slides_list_view_smart_bar_actions %}
            <template #smart-bar-actions>

                {% block blur_elysium_slides_list_view_smart_bar_action_add %}
                    <sw-button
                        v-tooltip="{
                            message: $tc('sw-privileges.tooltip.warning'),
                            disabled: acl.can('blur_elysium_slides.creator'),
                            showOnDisabledElements: true
                        }"
                        variant="primary"
                        :disabled="!acl.can('blur_elysium_slides.creator')"
                        :router-link="{ name: 'blur.elysium.slides.create' }"
                    >
                        {{ $tc('BlurElysiumSlides.actions.createSlide') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        {% block blur_elysium_slides_list_view_language_switch %}
            <template #language-switch>
                <sw-language-switch @on-change="onChangeLanguage" />
            </template>
        {% endblock %}

        <template #content>

            {% block blur_elysium_slides_list_view_content %}
                <div class="sw-customer-list__content">

                    {% block blur_elysium_slides_list_view_grid %}
                        <template v-if="slides !== null && slides.length > 0">

                            <sw-entity-listing
                                class="sw-customer-list-grid"
                                identifier="blur-elysium-slides-list"
                                :items="slides "
                                :columns="elysiumSlidesColumns"
                                :repository="repository"
                                :sort-by="sortBy"
                                :sort-direction="sortDirection"
                                detail-route="blur.elysium.slides.index"
                                :show-selection="acl.can('blur_elysium_slides.deleter')"
                                :allow-inline-edit="acl.can('blur_elysium_slides.editor')"
                                :is-loading="isLoading"
                                :disable-data-fetching="true"
                                @inline-edit-save="onInlineEditSave"
                                @page-change="onPageChange" 
                                @column-sort="onSortColumn" 
                                @items-delete-finish="onDeleteItems"
                            >

                                <template #actions="{ item }">

                                    {% block blur_elysium_slides_list_view_grid_action_edit %}
                                        <sw-context-menu-item
                                            class="sw-customer-list__edit-action"
                                            :disabled="!acl.can('blur_elysium_slides.editor')"
                                            :router-link="{ name: 'blur.elysium.slides.detail', params: { id: item.id }, query: { edit: true } }"
                                        >
                                            {{ $tc('sw-customer.list.contextMenuEdit') }}
                                        </sw-context-menu-item>
                                    {% endblock %}

                                    {% block blur_elysium_slides_list_action_copy_slide %}
                                    <sw-context-menu-item
                                        :disabled="!acl.can('blur_elysium_slides.creator')"
                                        @click="onCopySlide(item)"
                                    >
                                        {{ $tc('sw-product.list.buttonDuplicate') }}
                                    </sw-context-menu-item>
                                    {% endblock %}

                                    {% block blur_elysium_slides_list_view_grid_action_delete %}
                                        <sw-context-menu-item
                                            variant="danger"
                                            :disabled="!acl.can('blur_elysium_slides.deleter')"
                                            @click="onDelete(item.id)"
                                        >
                                            {{ $tc('sw-customer.list.contextMenuDelete') }}
                                        </sw-context-menu-item>
                                    {% endblock %}
                                </template>

                                <template #action-modals="{ item }">

                                    <blur-elysium-slide-modal-delete
                                        v-if="showDeleteModal === item.id"
                                        :slide-id="item.id" 
                                        @modal-close="showDeleteModal = false" 
                                        @delete-finish="onDeleteFinish">

                                        <template #content>
                                            <span v-html="$t('blurElysiumSlides.messages.deleteNamedSlideConfirmDialogue', {name: item.name} )" />
                                        </template>
                                    </blur-elysium-slide-modal-delete>
                                </template>

                                {% block blur_elysium_slides_list_view_pagination %}
                                    <template #pagination>
                                        <sw-pagination
                                            :page="page"
                                            :limit="limit"
                                            :total="total"
                                            :total-visible="7"
                                            @page-change="onPageChange"
                                        />
                                    </template>
                                {% endblock %}
                            </sw-entity-listing>
                        </template>
                    {% endblock %}

                    {% block blur_elysium_slides_list_view_empty_state %}
                        <template v-if="!isLoading && !total">
                            <sw-empty-state
                                :title="$tc('BlurElysiumSlides.messages.emptySlidesTitle')"
                            >
                                <template #icon>
                                    <blur-elysium-icon 
                                        color="#e868a1"
                                        :size="64" />
                                </template>

                                <template #actions>
                                    <sw-button
                                        v-tooltip="{
                                            message: $tc('sw-privileges.tooltip.warning'),
                                            disabled: acl.can('blur_elysium_slides.creator'),
                                            showOnDisabledElements: true
                                        }"
                                        variant="ghost"
                                        :disabled="!acl.can('blur_elysium_slides.creator')"
                                        :router-link="{ name: 'blur.elysium.slides.create' }"
                                    >
                                        {{ $tc('BlurElysiumSlides.actions.createSlide') }}
                                    </sw-button>
                                </template>
                            </sw-empty-state>
                        </template>
                    {% endblock %}
                </div>
            {% endblock %}
        </template>

    </sw-page>
{% endblock %}