.blur-cms-el-elysium-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1 1 100%;
    position: relative;
}

.blur-cms-el-elysium-slider__slider-preview {
    width: 100%;
    flex: 1 1 100%;
    background-color: rgba(249,249,249,1);
    border: 2px dashed #ddd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 4rem 2rem;
    margin: 1rem;
    text-align: center;
    line-height: 1.5;
    position: relative;
    overflow: hidden;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /*
    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.1);
    }
    */
}

.blur-cms-el-elysium-slider__slider-preview__container {
    width: 100%;
    position: relative;
    z-index: 5;
    max-width: 50%;

    @media screen and (max-width: 700px) {
        max-width: 100%;
    }

    @media screen and (max-width: 1100px) {
        max-width: 75%;
    }
}

.blur-cms-el-elysium-slider__slider-preview__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.blur-cms-el-elysium-slider__slider-preview__navigation-button {
    position: absolute;
    z-index: 5;
    top: 50%;
    margin-top: -12px;
    cursor: pointer;
    color: #ffffff;

    &.navigation-prev {
        left: 2rem;
    }

    &.navigation-next {
        right: 2rem;
    }
}