{% block blur_cms_element_elysium_slider %}
    <div class="blur-cms-el-elysium-slider">   

            {% block blur_cms_element_elysium_slider_preview_empty %}
                <div class="blur-cms-el-elysium-slider__slider-preview"
                    :style="{
                        backgroundColor: getSlideSetting( 'slideBgColor' ),
                        backgroundImage: getSlideMedia( 'url' ) ? 'url(' + getSlideMedia( 'url' ) + ')' : null
                    }">

                    {% block blur_cms_element_elysium_slider_preview_empty_container %}
                        <div class="blur-cms-el-elysium-slider__slider-preview__container">

                            {% block blur_cms_element_elysium_slider_preview_empty_title %}
                                <div class="blur-cms-el-elysium-slider__slider-preview__title">
                                    {{ getPreview( 'title', 'blurElysiumSlider.cmsElement.component.preview.defaultTitleValue' ) }}
                                </div>
                            {% endblock %}

                            {% block blur_cms_element_elysium_slider_preview_empty_description %}
                                <div class="blur-cms-el-elysium-slider__slider-preview__description">
                                    {{ getPreview( 'description', 'blurElysiumSlider.cmsElement.component.preview.defaultDescriptionValue' ) }}
                                </div>
                            {% endblock %}

                            {% block blur_cms_element_elysium_slider_preview_empty_actions %}
                                <div v-if="getPreview( 'button_label', 'blurElysiumSlider.cmsElement.component.preview.defaultButtonLabelValue' )"
                                    class="blur-cms-el-elysium-slider__slider-preview__actions">
                                    
                                    {% block blur_cms_element_elysium_slider_preview_empty_button_element %}
                                        <span class="sw-button blur-cms-el-elysium-slider__slider-preview__button-element">
                                            {{ getPreview( 'button_label', 'blurElysiumSlider.cmsElement.component.preview.defaultButtonLabelValue' ) }}
                                        </span>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}

                    <template v-if="selectedSlidesCollection && selectedSlidesCollection.length > 0">
                        {% block blur_cms_element_elysium_slider_preview_empty_navigation_prev %}
                            <sw-icon 
                                    v-if="slideIndex !== 0"
                                    class="blur-cms-el-elysium-slider__slider-preview__navigation-button navigation-prev"
                                    name="default-arrow-head-left"
                                    @click="slideArrowClick( -1 )"
                                    size="24">
                            </sw-icon>
                        {% endblock %}
                        {% block blur_cms_element_elysium_slider_preview_empty_navigation_next %}
                            <sw-icon v-if="slideIndex !== (selectedSlidesCollection.length - 1)"
                                    class="blur-cms-el-elysium-slider__slider-preview__navigation-button navigation-next"
                                    name="default-arrow-head-right"
                                    @click="slideArrowClick( 1 )"
                                    size="24">
                            </sw-icon>
                        {% endblock %}
                    </template>

                </div>
            {% endblock %}

    </div>
{% endblock %}