.blur-cms-el-elysium-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1 1 100%;
    position: relative;
}

.blur-cms-el-elysium-slider__slider-preview {
    width: 100%;
    flex: 1 1 100%;
    min-height: 20rem;
    background-color: #f6f6f6;
    border-radius: 0;
    display: flex;
    align-items: center;
    padding: 3rem 6rem;
    text-align: center;
    line-height: 1.5;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.1);
    }
}

.blur-cms-el-elysium-slider__slider-preview__container {
    width: 100%;
    position: relative;
    z-index: 5;
}

.blur-cms-el-elysium-slider__slider-preview__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.blur-cms-el-elysium-slider__slider-preview__description {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
}

.blur-cms-el-elysium-slider__slider-preview__navigation-button {
    position: absolute;
    z-index: 5;
    top: 50%;
    margin-top: -12px;
    cursor: pointer;
    color: #aaa;

    &:hover {
        color: #555;
    }

    &.navigation-prev {
        left: 2rem;
    }

    &.navigation-next {
        right: 2rem;
    }
}