<div class="sw-cms-preview-blur-elysium-slider-block">
    <img class="sw-cms-preview-blur-elysium-slider-block__preview-image" 
        :src="'blurelysiumslider/static/img/component-preview-image.png' | asset">
</div>
