<sw-page class="blur-slysium-slides-detail__page">

    <template #smart-bar-header>
        <h2 v-if="blurElysiumSlide && blurElysiumSlide.label">
            {{ blurElysiumSlide.label }}
        </h2>
    </template>

    <template #smart-bar-actions>

        {#
        <span v-if="!editMode">
            <sw-button
                v-tooltip="{
                    message: $tc('sw-privileges.tooltip.warning'),
                    disabled: acl.can('blur_elysium_slides.editor'),
                    showOnDisabledElements: true
                }"
                class="sw-customer-detail__open-edit-mode-action"
                variant="primary"
                :disabled="isLoading || !acl.can('blur_elysium_slides.editor')"
                @click.prevent="onActivateCustomerEditMode"
            >
                {{ $tc('sw-customer.detail.buttonEdit') }}
            </sw-button>
        </span>
        #}

        <sw-container class="blur-slysium-slides-detail__header-actions-container" columns="auto auto" gap="0 8px">

            <sw-button
                :disabled="isLoading"
                @click="onAbortButtonClick"
            >
                {{ $tc('sw-customer.detail.buttonCancel') }}
            </sw-button>

            <sw-button-process
                class="sw-customer-detail__save-action"
                :is-loading="isLoading"
                :process-success="isSaveSuccessful"
                :disabled="isLoading"
                variant="primary"
                @process-finish="saveFinish"
                @click.prevent="onSave"
            >
                {{ $tc('sw-customer.detail.buttonSave') }}
            </sw-button-process>
        </sw-container>
    </template>

    <template slot="language-switch">
        <sw-language-switch
            :save-changes-function="saveOnLanguageChange"
            :abort-change-function="abortOnLanguageChange"
            :disabled="!blurElysiumSlideId"
            @on-change="onChangeLanguage"
        />
    </template>

    <template #content>

        <div class="blur-slysium-slides-create__main-content">

            <sw-card
                :title="$tc('BlurElysiumSlides.baseForm.cardTitle')"
                :is-loading="isLoading"
            >

                <blur-elysium-slides-basic-form
                    v-if="!isLoading"
                    :blur-elysium-slides="blurElysiumSlide"
                    :allow-edit="acl.can('blur_slides_elysium.editor')"
                />
            </sw-card>
            
            <sw-card
                :title="$tc('BlurElysiumSlides.mediaForm.cardTitle')"
                :is-loading="isLoading"
            >

                {% block blur_elysium_slides_create_base_media_upload_form %}
                    <sw-upload-listener
                        :upload-tag="uploadTag"
                        auto-upload
                        @media-upload-finish="setMediaItem"
                    />
                    <sw-media-upload-v2
                        :disabled="!acl.can('blur_slides_elysium.editor')"
                        :upload-tag="uploadTag"
                        :source="mediaItem"
                        class="blur-elysium-slides__media-upload"
                        :allow-multi-select="false"
                        variant="regular"
                        :label="$tc('BlurElysiumSlides.mediaForm.uploadInput.title')"
                        :help-text="$tc('BlurElysiumSlides.mediaForm.uploadInput.helpText')"
                        {# :default-folder="blurElysiumSlide.getEntityName()" #}
                        @media-drop="onDropMedia"
                        @media-upload-sidebar-open="onOpenMedia"
                        @media-upload-remove-image="onUnlinkMedia"
                    />
                {% endblock %}

            </sw-card>
        </div>
    </template>

    <template slot="sidebar">
        <sw-sidebar :propagate-width="true">
            <sw-sidebar-media-item ref="mediaSidebarItem">
                <template
                    slot="context-menu-items"
                    slot-scope="media"
                >
                    <sw-context-menu-item @click="setMediaFromSidebar(media.mediaItem)">
                        {{ $tc('BlurElysiumSlides.mediaForm.useAsCover') }}
                    </sw-context-menu-item>
                </template>
            </sw-sidebar-media-item>
        </sw-sidebar>
    </template> 
</sw-page>