.blur-slysium-slides-detail__header-actions-container {

    .sw-button {
        margin: 0 !important;
    }
}

.blur-elysium-slider__detail-tabs {
    padding: 2.5rem 1rem 4rem;

    .sw-tabs__content {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}