{% block blur_elysium_slides_detail_view %}
    <sw-page class="blur-slysium-slides-detail__page">

        <template #smart-bar-back>
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            <router-link
                v-if="parentRoute"
                class="smart-bar__back-btn"
                :to="{ name: parentRoute }"
            >
                <sw-icon
                    name="regular-chevron-left"
                    color="#999999"
                    small
                />
                <blur-elysium-icon 
                    color="#e868a1"
                    :size="16" />
            </router-link>
        </template>

        {% block blur_elysium_slides_detail_view_smart_bar_header %}
            <template #smart-bar-header>

                {% block blur_elysium_slides_detail_view_smart_bar_header_title %}
                    <h2>
                        {{ slideLabel }}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block blur_elysium_slides_detail_view_smart_bar_actions %}
            <template #smart-bar-actions>

                <sw-container class="blur-slysium-slides-detail__header-actions-container" columns="auto auto" gap="0 8px">

                    {% block blur_elysium_slides_detail_view_smart_bar_action_cancel %}
                        <sw-button
                            :disabled="!hasChanges"
                            v-tooltip="{
                                message: $tc('blurElysiumSlides.messages.cancelChanges')
                            }"
                            @click="cancel"
                        >
                            {{ $tc('sw-customer.detail.buttonCancel') }}
                        </sw-button>
                    {% endblock %}

                    <sw-button-group
                        :split-button="true"
                    >

                        {% block blur_elysium_slides_detail_view_smart_bar_action_save %}
                            <sw-button-process
                                v-tooltip="{
                                    message: $tc('sw-privileges.tooltip.warning'),
                                    disabled: acl.can('blur_elysium_slides.editor'),
                                    showOnDisabledElements: true
                                }"
                                class="sw-customer-detail__save-action"
                                :is-loading="loading.slide"
                                :process-success="isSaveSuccessful"
                                :disabled="loading.slide || !( acl.can('blur_elysium_slides.editor') || ( acl.can('blur_elysium_slides.creator') && isNewSlide ) )"
                                variant="primary"
                                @process-finish="saveFinish"
                                @click.prevent="onSave"
                            >
                                {{ $tc('sw-customer.detail.buttonSave') }}
                            </sw-button-process>
                        {% endblock %}

                        <sw-context-button>
                            <template #button>
                                <sw-button
                                    square
                                    variant="primary"
                                    :disabled="loading.slide || !blurElysiumSlideId || !( acl.can('blur_elysium_slides.editor') || ( acl.can('blur_elysium_slides.creator') && isNewSlide ) )"
                                >
                                    <sw-icon
                                        name="regular-chevron-down-xs"
                                        size="16"
                                    />
                                </sw-button>
                            </template>

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            <sw-context-menu-item
                                :disabled="loading.slide || !( acl.can('blur_elysium_slides.editor') || ( acl.can('blur_elysium_slides.creator') && isNewSlide ) )"
                                @click="onCopySlide"
                            >
                                {{ $tc('blurElysiumSlides.actions.buttonSaveDuplicate') }}
                            </sw-context-menu-item>
                            <sw-context-menu-item
                                variant="danger"
                                :disabled="loading.slide || !( acl.can('blur_elysium_slides.deletor')  )"
                                @click="showDeleteModal = true"
                            >
                                {{ $tc('blurElysiumSlides.actions.deleteSlide') }}
                            </sw-context-menu-item>
                        </sw-context-button>
                    </sw-button-group>
                </sw-container>
            </template>
        {% endblock %}

        {% block blur_elysium_slides_detail_view_language_switch %}
            <template slot="language-switch">
                <sw-language-switch
                    :save-changes-function="saveOnLanguageChange"
                    :abort-change-function="abortOnLanguageChange"
                    :disabled="blurElysiumSlideId === null"
                    @on-change="onChangeLanguage"
                />
            </template>
        {% endblock %}


        <template #content>

            {#% block blur_elysium_slides_detail_view_custom_template_alert %}
                <sw-alert 
                    v-if="slide && slide.slideSettings.customTemplateFile" 
                    variant="info" 
                    appearance="default" 
                    :showIcon="true" 
                    :closable="false"
                    style="margin:0;border-radius: 0;border-width: 0 0 1px 0;"
                    >
                    <span v-html="$tc('blurElysiumSlides.slideSettings.customTemplate.hasCustomNotice')" />
                </sw-alert>
            {% endblock %#}

            <blur-elysium-device-switch 
                layout="tab"
                :style="{
                    backgroundColor: 'white',
                    position: 'sticky',
                    top: '0',
                    zIndex: '10'
                }"
                @change-viewport="onChangeViewport" />

            {% block blur_elysium_slides_detail_view_tabs %}
                <div 
                v-if="slide"
                :style="{
                    padding: '1rem 0'
                }">


                    <sw-tabs
                        :position-identifier="positionIdentifiers.detail.tabs">

                        <sw-tabs-item
                            :route="contentRoute"
                            :title="$tc('blurElysiumSlides.slideSettingTabs.contentLabel')">
                            {{ $tc('blurElysiumSlides.slideSettingTabs.contentLabel') }}
                        </sw-tabs-item>

                        <sw-tabs-item
                            :route="mediaRoute"
                            :title="$tc('blurElysiumSlides.slideSettingTabs.mediaLabel')">
                            {{ $tc('blurElysiumSlides.slideSettingTabs.mediaLabel') }}
                        </sw-tabs-item>

                        <sw-tabs-item
                            :route="displayRoute"
                            :title="$tc('blurElysiumSlides.slideSettingTabs.displayLabel')">
                            {{ $tc('blurElysiumSlides.slideSettingTabs.displayLabel') }}
                        </sw-tabs-item>

                        <sw-tabs-item
                            :route="advancedRoute"
                            :title="$tc('blurElysiumSlides.slideSettingTabs.advancedLabel')">
                            {{ $tc('blurElysiumSlides.slideSettingTabs.advancedLabel') }}
                        </sw-tabs-item>
                    </sw-tabs>

                    <router-view />
                </div>
                <div v-else>
                    Something went wrong
                </div>
            {% endblock %}

            <blur-elysium-slide-modal-delete
                v-if="showDeleteModal === true"
                :slide-id="slide.id" 
                @modal-close="showDeleteModal = false" 
                @delete-finish="onDeleteFinish" />
        </template>

        {% block blur_elysium_slides_detail_view_sidebar %}
            <template slot="sidebar">
                <sw-sidebar 
                    :propagate-width="true">

                    {% block blur_elysium_slides_detail_view_sidebar_media_selection %}
                        <sw-sidebar-media-item 
                            :ref="(el) => { setMediaSidebar(el) }">
                            <template
                                slot="context-menu-items"
                                slot-scope="media"
                            >
                                <sw-context-menu-item 
                                    v-if="mediaType(media.mediaItem.mimeType) === 'image'"
                                    @click="setSlideCoverImage(media.mediaItem)">
                                    {{ $tc('blurElysiumSlides.slideSettings.slideCover.useAsSlideCover') }}
                                </sw-context-menu-item>
                                <sw-context-menu-item 
                                    v-if="mediaType(media.mediaItem.mimeType) === 'video'"
                                    @click="setSlideCoverVideo(media.mediaItem)">
                                    {{ $tc('blurElysiumSlides.slideSettings.slideCover.useAsSlideCover') }}
                                </sw-context-menu-item>
                                <sw-context-menu-item 
                                    v-if="mediaType(media.mediaItem.mimeType) === 'image'"
                                    @click="setFocusImage(media.mediaItem)">
                                    {{ $tc('blurElysiumSlides.slideSettings.slideCover.useAsFocusImage') }}
                                </sw-context-menu-item>
                            </template>
                        </sw-sidebar-media-item>
                    {% endblock %}
                </sw-sidebar>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}