{% block sw_search_bar_item_cms_page %}
    {% parent() %}

    <router-link
        v-else-if="type === 'blur_elysium_slides'"
        :to="{ name: 'blur.elysium.slides.detail', params: { id: item.id } }"
        ref="routerLink"
        class="sw-search-bar-item__link"
    >
        <span class="sw-search-bar-item__label">
            <sw-highlight-text
                v-if="item.translated.name || item.name"
                :searchTerm="searchTerm"
                :text="item.translated.name || item.name"
            />
            <sw-highlight-text
                v-if="item.translated.title || item.title"
                :searchTerm="searchTerm"
                :text="item.translated.title || item.title"
            />
        </span>
    </router-link>
{% endblock %}