{% block blur_cms_config_elysium_banner %}
    <div class="sw-cms-el-config-blur-elysium-banner">

        <blur-elysium-device-switch 
            layout="default" 
            justify="right"
            default-viewport="desktop"
            :show-labels="false"
            :gap="20"
            @change-viewport="onChangeViewport" />

        <sw-entity-single-select 
            :label="$tc('blurElysiumBanner.config.selectSlide')"
            entity="blur_elysium_slides" 
            v-model="selectedSlide" />

        <sw-switch-field 
            :label="$tc('blurElysiumBanner.config.autoSizing')"
            v-model="element.config.viewports.value[activeViewport].aspectRatio.auto" />

        <sw-container
            columns="1fr 1fr"
            gap="0 1rem">

            <sw-number-field 
                type="int"
                :step="1"
                :min="1"
                :label="$tc('blurElysiumBanner.config.aspectRatioWidth')"
                :disabled="element.config.viewports.value[activeViewport].aspectRatio.auto === true" 
                v-model="element.config.viewports.value[activeViewport].aspectRatio.width" />

            <sw-number-field 
                type="int"
                :step="1"
                :min="1"
                :label="$tc('blurElysiumBanner.config.aspectRatioHeight')"
                :disabled="element.config.viewports.value[activeViewport].aspectRatio.auto === true" 
                v-model="element.config.viewports.value[activeViewport].aspectRatio.height" />
        </sw-container>
    </div>
{% endblock %}