{% block blur_cms_block_elysium_slider_banner_component %}
    <div class="sw-cms-block-blur-elysium-banner">
        <slot name="main">{% block blur_cms_block_elysium_banner_block_component_main_slot %}{% endblock %}</slot>
    </div>
{% endblock %}
