{% block blur_elysium_slides_settings_form %}
    <sw-card
        :title="$tc('BlurElysiumSlides.settingsForm.cardTitle')"
        :is-loading="isLoading"
        v-if="!isLoading && slide.slideSettings"
    >

        {% block blur_elysium_slides_input_container_settings %}
            {# @TODO outsource <bc-card-header> in own NPM package as reusable commponent across extensions #}
            <div class="bc__card-header">
                <h4 class="bc__card-header__title">
                    {{ $tc('BlurElysiumSlides.settingsForm.containerSettings.title') }}
                    <sw-help-text 
                        :text="$tc('BlurElysiumSlides.settingsForm.containerSettings.helpText')"
                        :width="400" 
                        tooltipPosition="top" 
                        :showDelay="100" 
                        :hideDelay="100">
                    </sw-help-text>
                </h4>
                <div class="bc__card-header__description">
                    {{ $tc('BlurElysiumSlides.settingsForm.containerSettings.description') }}
                </div>
            </div>

            <sw-container columns="auto 1fr 1fr" gap="0 2rem">
                {% block blur_elysium_slides_input_container_box_mode %}
                    <sw-switch-field 
                        :label="$tc('BlurElysiumSlides.settingsForm.containerSettings.boxMode.inputLabel')" 
                        v-model="slide.slideSettings.containerBoxMode"
                        class="bc__my-0">
                    </sw-switch-field>
                {% endblock %}

                {% block blur_elysium_slides_input_container_horizontal_align %}
                    <sw-select-field 
                        v-model="slide.slideSettings.containerHorizontalAlign"
                        class="bc__my-0"
                        :placeholder="placeholder(slide, 'slideSettings.containerHorizontalAlign', this.$tc('BlurElysiumSlides.settingsForm.containerSettings.horizontalAlign.placeholder') )"
                        :value="slide.slideSettings.containerHorizontalAlign">
                        <option value="left">{{ $tc('BlurElysiumSlides.settingsForm.containerSettings.horizontalAlign.options.left') }}</option>
                        <option value="center">{{ $tc('BlurElysiumSlides.settingsForm.containerSettings.horizontalAlign.options.center') }}</option>
                        <option value="right">{{ $tc('BlurElysiumSlides.settingsForm.containerSettings.horizontalAlign.options.right') }}</option>
                    </sw-select-field>
                {% endblock %}

                <sw-field
                    type="text"
                    v-model="slide.slideSettings.containerMaxWidth" 
                    :placeholder="placeholder(slide, 'slideSettings.containerMaxWidth', this.$tc('BlurElysiumSlides.settingsForm.containerSettings.maxWidth.placeholder') )"
                />
            </sw-container>
        {% endblock %}
    </sw-card>
{% endblock %}
