{% block blur_elysium_slide_content %}
    {% block blur_elysium_slide_content_element %}
        <div class="blur-elysium-slide-content">
            {% sw_include '@BlurElysiumSlider/storefront/component/blur-elysium-slide/includes/headline.html.twig' %}
            {% sw_include '@BlurElysiumSlider/storefront/component/blur-elysium-slide/includes/description.html.twig' %}
            {% sw_include '@BlurElysiumSlider/storefront/component/blur-elysium-slide/includes/button.html.twig' %}
        </div>
    {% endblock %}
{% endblock %}