{% block blur_elysium_slide_image %}
    {% set containerClasses = [
        'blur-elysium-slide-image'
    ] %}
    {% set lazyLoading = lazyLoading|default(false) %}

    {% if imageMedia is not defined %}
        {% set imageMedia = slideData.presentationMedia %}
    {% endif %}

    {% block blur_elysium_slide_image_element %}
        {% if imageMedia %}           
            <div class="{{ containerClasses|join(' ') }}" style="flex: var(--image-flex-grow, 1) 0 var(--image-flex-basis, 0%); justify-content: var(--image-justify-content, center); align-items: var(--image-align-items, center); order: var(--image-order, 2); width: 100%; max-width: var(--image-max-w, none);">
                {% sw_thumbnails 'elysium-slide-focus-image' with {
                    media: imageMedia,
                    attributes: {
                        'loading': lazyLoading === true ? 'lazy' : 'eager',
                        'class': 'd-block img-fluid',
                        'style': 'width: var(--slide-focus-image-w, 100%);'
                    }
                } %}
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}